<template>
  <div class="ta-avaliation__wrapper">
    <v-rating
      v-bind="$attrs"
      v-on="$listeners"
      :size="AvaliationSize"
      background-color="primary"
      color="primary"
      class="ta-avaliation"
    ></v-rating>
  </div>
</template>

<script>
export default {
  name: 'TaAvaliation',

  props: {
    AvaliationSize: {
      type: String,
      default: () => '50',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-avaliation__wrapper {
  ::v-deep .v-rating {
    .v-icon {
      padding: 3px;
    }
  }
}
</style>
