<template>
  <v-toolbar elevation="0" class="toolbar__wrapper">
    <v-app-bar-nav-icon
      @click="$emit('navigate-drawer')"
      v-if="mini"
    ></v-app-bar-nav-icon>
    <v-toolbar-title> {{ title }} </v-toolbar-title>
    <v-spacer></v-spacer>
    <div class="mr-8 d-md-flex d-none">
      <span>Bem vindo (a)</span>
    </div>
    <TaAvatarDetail
      v-if="!mini"
      :avatarSize="40"
      :avatarTitle="profile.name"
      :avatarImage="profile.url"
      :avatarType="'image'"
    />
    <v-btn outlined class="ml-3" @click="$emit('on-click')" color="lightGray">
      {{ btnLabel }}
    </v-btn>
  </v-toolbar>
</template>

<script>
export default {
  name: 'TaAppToolbar',

  components: {
    TaAvatarDetail: () => import('@/components/taAvatar/TaAvatarDetail.vue'),
  },

  data() {
    return {
      mini: (this.screen < 1024),
      screen: window.screen.width,
    };
  },

  props: {
    title: {
      type: String,
      default: 'Título da página',
      required: true,
    },
    btnLabel: {
      type: String,
      default: 'Sair',
      required: true,
    },
    profile: {
      type: Object,
      default: () => {},
      required: true,
    },
  },

  created() {
    this.setScreenWidth();

    window.addEventListener('resize', () => {
      this.setScreenWidth();
    });
  },

  methods: {
    setScreenWidth() {
      this.screen = window.screen.width;
      this.mini = this.screen < 1024;
    },
  },
};
</script>

<style scoped lang="scss">
@import '../../assets/scss/_global.scss';

.toolbar__wrapper {
  ::v-deep.v-toolbar__title {
    @include font-format(
      $weight: 900,
      $size: 18px,
      $color:  $black,
      $transform: uppercase
    );

    &::before {
      content: '';
      position: relative;
      top: 0;
      width: 18px;
      height: 3px;
      background-color: $blue;
      display: block;
      border-radius: 4px;
    }
  }

  span {
    @include font-format(
      $weight: 700,
      $size: 14px,
      $color:  $gray2,
    );
  }
}
</style>
