<template>
  <div class="ta-progressBar__wrapper">
    <div class="d-flex align-center">
      <v-progress-linear
        v-bind="$attrs"
        color="primary"
        height="4"
      />
      <span v-if="percentage" class="ml-2">{{ Math.ceil(percentageValue) }}%</span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TaProgressBar',

  props: {
    percentageValue: {
      type: Number,
      default: () => 0,
    },
    percentage: {
      type: Boolean,
      default: () => false,
    },
  },
};
</script>
