<template>
  <div class="ta-switchBar__wrapper">
    <v-toolbar
      class="px-2 px-md-6"
      rounded
      elevation="0"
      :color="bgColor"
    >
      <div
        style="width: 100%"
        class="d-flex align-sm-center justify-space-between flex-column flex-sm-row"
      >
        <div class="d-flex">
          <v-icon
            v-if="icon"
            class="mr-5"
          >
            {{ icon }}
          </v-icon>

          <div  class="d-flex flex-column">
            <div class="ta-switchBar__title">
              {{ title }}
            </div>

            <div
              class="ta-switchBar__subtitle"
              v-if="subtitle"
            >
              {{ subtitle }}
            </div>
          </div>
        </div>

        <div
          class="d-flex align-center"
        >
          <TaSwitch
            v-bind="$attrs"
            v-on="$listeners"
          />
        </div>
      </div>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'TaSwitchBarIcon',

  components: {
    TaSwitch: () => import('@/components/taSwitchs/taSwitch/TaSwitch.vue'),
  },

  props: {
    icon: {
      type: String,
      default: () => '',
    },

    title: {
      type: String,
      default: () => '',
    },

    subtitle: {
      type: String,
      default: () => '',
    },

    bgColor: {
      type: String,
      default: () => '#ffffff',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-switchBar__wrapper {
  .v-sheet {
    background: $background;
    height: auto !important;
    min-height: 56px;

    ::v-deep .v-toolbar__content {
      height: auto !important;
      min-height: 56px;
    }

    @media(max-width: 960px) {
      ::v-deep.v-toolbar__content {
        padding: 5px;
      }
    }
    .v-icon {
      color: $gray;
    }

    .ta-switchBar__title, .ta-switchBar__subtitle {
      @include font-format(
        $size: 16px,
      );
      letter-spacing: 0.01em;
    }

    .ta-switchBar__subtitle {
      color: $gray2;
    }

    &.theme--dark {
      background-color: $darkBlue;

      .v-icon {
        color: $gray2;
      }

      .ta-switchBar-icon-title {
        color: $white;
      }
    }
  }
}
</style>
