<template>
  <div class="ta-tabBar__wrapper">
  <v-bottom-navigation
    v-bind="$attrs"
    class="d-flex align-center"
    color="primary"
  >
    <v-btn v-for="(item,index) in items" :key="index"
      color="transparent"
      height="56px"
      class="px-2 px-md-6"
      @click="$emit('select-item', item)"
    >
      <span>{{ item.title }}</span>
      <v-icon class="mb-1">{{ item.icon }}</v-icon>
    </v-btn>
  </v-bottom-navigation>
  </div>
</template>

<script>
export default {
  name: 'TaTabBar',

  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-tabBar__wrapper {
  .v-bottom-navigation {
    box-shadow: none;

    .v-btn {
      min-width: 60px;
    }

    .v-btn:not(.v-btn--active) {
      color: $gray2 !important;
    }

    &.theme--dark {
      background-color: $darkBlue;

      .v-btn:not(.v-btn--active) {
        color: $lightGray !important;
      }

      .v-btn--active {
        color: $lightBlue;
      }
    }
  }
}
</style>
