<template>
  <div class="ta-toolbar__wrapper">
    <v-toolbar
      elevation="1"
    >
      <v-btn
        icon
        ref="btn-primary"
        @click="toolbarEvent(toolbarIcon)"
      >
        <v-icon v-if="returnMenu">
          {{ toolbarIcon }}
        </v-icon>

        <v-icon v-else>
          mdi-menu
        </v-icon>
      </v-btn>

      <div v-if="search">
        <v-text-field
          v-bind="$attrs"
          v-on="$listeners"
          :value="value"
          label="Pesquisar"
          solo
        ></v-text-field>
      </div>

      <div v-else>
        <v-toolbar-title>{{ label }}</v-toolbar-title>
      </div>

      <v-spacer></v-spacer>

      <v-btn
        icon
        @click="menuEvent(iconPrimary)"
      >
        <v-icon
        >
          {{ iconPrimary }}
        </v-icon>
      </v-btn>

      <v-menu
        left
        bottom
      >
        <template
          v-slot:activator="{ on, $attrs }"
        >
          <v-btn
            icon
            v-bind="$attrs"
            v-on="on"
          >
            <v-icon>
              mdi-dots-vertical
            </v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, index) in menuItems"
            :key="index"
            @click="$emit('select-menu', item)"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'TaToolBar',

  data() {
    return {
      search: false,
      returnMenu: false,
      value: null,
    };
  },

  props: {
    toolbarIcon: {
      type: String,
      default: '',
    },

    iconPrimary: {
      type: String,
      default: () => '',
    },

    iconSecondary: {
      type: String,
      default: () => '',
    },

    menuItems: {
      type: Array,
      default: () => [],
    },

    label: {
      type: String,
      default: () => '',
    },
  },

  methods: {
    menuEvent(item) {
      this.$emit('primary-icon');

      if (item === 'mdi-magnify') {
        this.search = true;
        this.returnMenu = true;
      }
    },

    toolbarEvent(item) {
      this.$emit('toolbar-icon');

      if (item === 'mdi-close') {
        this.search = false;
        this.returnMenu = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-toolbar__wrapper {
  .v-toolbar {
    .v-toolbar__content {
      .v-input {
        height: 48px;

        ::v-deep .v-input__slot {
          height: 48px !important;
          box-shadow: none;
        }
      }
    }
    .v-icon {
      color: $gray;
      opacity: 0.6;
    }

    .v-toolbar__title {
      @include font-format(
        $weight: 600,
        $size: 20px,
        $line-height: 28px
      );
      letter-spacing: 0.15px;
    }

    &.theme--dark {
      background-color: $darkBlue;

      .v-icon {
        color: $lightBlue;
        opacity: 1;
      }

      .v-toolbar__title {
        color: $white;
      }

    }
  }

  &.theme--dark {
    &.v-menu__content {
      .v-list {
        background-color: $darkBlue;
      }
    }
  }
}
</style>
