<template>
  <div>
    <v-select
      v-bind="$attrs"
      v-on="$listeners"
      :items="items"
      multiple
      outlined
      return-object
    ></v-select>
  </div>
</template>

<script>
export default {
  name: 'TaSelectDrop',

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>
