<template>
  <div>
    <v-select
      v-bind="$attrs"
      v-on="$listeners"
      outlined
      return-object
      :items="items"
    ></v-select>
  </div>
</template>

<script>
export default {
  name: 'TaSelect',

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';
</style>
