<template>
  <div class="ta-chipPrimary-outlined__wrapper">
    <v-chip
      v-bind="$attrs"
      v-on="$listeners"
      color="primary"
      outlined
    >
      {{ label }}
    </v-chip>
  </div>
</template>

<script>
export default {
  name: 'TaChipPrimaryOutlined',

  props: {
    label: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-chipPrimary-outlined__wrapper {
  @include chip-custom(
    $color-icon: #00527D,
    $opacity-icon: 0.5,
    $font-color: $white,
  );
  .v-chip {
    &.theme--dark {
      ::v-deep .v-icon.v-icon::before {
        color: #0096D3;
        opacity: 0.7;
      }
    }
  }
}

</style>
