<template>
  <div class="ta-alertPrimary__wrapper">
    <transition
      name="fade"
    >
      <v-alert
        color="blue"
        icon="mdi-alert-circle-outline"
        type="info"
        v-if="controlShow"
      >
        <v-row align="center">
          <v-col class="grow">
            {{ label }}
          </v-col>
          <v-col class="shrink d-flex">
            <span
              @click="$emit('action')"
            >
              {{ actionLabel }}
            </span>
            <v-icon
              @click="$emit('close')"
              class="ml-3"
            >
              mdi-close
            </v-icon>
          </v-col>
        </v-row>
      </v-alert>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'TaAlertPrimaryActionInfo',

  props: {
    label: {
      type: String,
      default: () => '',
    },

    actionLabel: {
      type: String,
      default: () => '',
    },

    controlShow: {
      default: false,
      required: true,
      type: Boolean,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

.ta-alertPrimary__wrapper {
  .v-alert {
    &.theme--dark {
      background-color: $blue !important;
    }
  }

  @include custon-alert();
}
</style>
