<template>
  <div class="ta-avatar__wrapper">
    <v-avatar
      color="#00527D1A"
      :size="avatarSize"
    >
      <span
        v-if="avatarType === 'label'"
        :style="{color: $vuetify.theme.themes[theme].primary}"
      > {{ avatarLabel }}
      </span>

      <img
        v-else-if="avatarType === 'image' && avatarImage"
        :src="avatarImage"
      >
      <v-icon
        v-else
        :color="$vuetify.theme.themes[theme].primary"
      >
        mdi-account
      </v-icon>
    </v-avatar>
  </div>
</template>

<script>
export default {
  name: 'Avatar',

  computed: {
    theme() {
      return (this.$vuetify.theme.dark) ? 'dark' : 'light';
    },
  },

  props: {
    avatarSize: {
      type: Number,
      require: true,
      default: () => 40,
    },
    avatarType: {
      type: String,
      require: true,
      default: () => '',
    },
    avatarLabel: {
      type: String,
      default: () => 'TA',
    },
    avatarImage: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-avatar__wrapper {
  @include avatar-custom();
}
</style>
