<template>
  <div class="ta-avatar__wrapper d-flex">
    <div>
      <TaAvatar
        v-bind="$attrs"
      />
    </div>

    <div class="d-flex flex-column justify-center mx-4">
      <p class="ta-avatar__title mb-0">
        {{ avatarTitle }}
      </p>

      <span
        v-if="avatarSubtitle"
        class="ta-avatar__subtitle"
      >
        {{ avatarSubtitle }}
      </span>
    </div>

    <div
      class="d-flex justify-center align-center"
      v-if="avatarEdit"
    >
      <div
        class="ta-avatar__edit d-flex justify-center align-center pa-1"
        @click="$emit('profile-edit')"
      >
        <v-icon
          size="12"
        >
          mdi-pencil
        </v-icon>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TaProfileDetail',

  components: {
    TaAvatar: () => import('@/components/taAvatar/TaAvatar.vue'),
  },

  props: {
    avatarTitle: {
      type: String,
      default: () => '',
    },
    avatarSubtitle: {
      type: String,
      default: () => '',
    },
    avatarEdit: {
      type: Boolean,
      default: () => false,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';
</style>
