<template>
  <div class="ta-avatar__wrapper">
    <div v-if="type === 'badgeType'">
      <v-badge
        bordered
        bottom
        :color="checkBadgeColor(profileStatus)"
        dot
        offset-x="10"
        offset-y="10"
      >
        <Avatar
          v-bind="$attrs"
        />
      </v-badge>
    </div>

    <div v-else>
      <Avatar
        v-bind="$attrs"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TaProfileAvatar',

  components: {
    Avatar: () => import('@/components/taAvatar/Avatar.vue'),
  },

  props: {
    type: {
      type: String,
      require: true,
      default: () => '',
    },
    profileStatus: {
      type: String,
      require: true,
      default: () => 'Online',
    },
  },

  methods: {
    checkBadgeColor(item) {
      const online = '#0ACF1E';
      const offline = '#DB4F4F';
      switch (item) {
        case 'Online':
          return online;
        case 'offline':
          return offline;
        default:
          return 'gray';
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

</style>
