@mixin custon-alert($font-size: 16px, $icon-color: $white, $font-color: $white) {
  .v-alert {
    @include font-format(
      $size: $font-size,
      $color: $font-color
    );

    span, .v-icon {
      cursor: pointer;
    }

    &.theme--dark {
      span, .v-icon {
        color: $icon-color;
      }
    }
  }
}