@mixin avatar-custom() {
  .v-avatar {
    height: 30px;
    min-width: 30px;
    width: 30px;
  
    span {
      @include font-format(
        $weight: 600,
        $size: 20px,
        $line-height: 25px,
      );
    }
  
    .v-icon {
      font-size: 45px;
      margin-bottom: -12px;
      color: $primary;
    }
  }
  
  .theme--dark {
    .v-avatar {
      .v-icon {
        color: $blue;
      }
  
      span {
        color: $blue !important;
      }
    }
  }
}