@mixin taBtn($color: $lightGray, $opacity: 0.12, $background-color: transparent, $colorFont: $darkBlue ) {
  @include font-format(
    $font: 'Source_Sans_Pro_Regular',
    $size: 16px,
    $line-height: 20px,
    $weight: 600,
    $transform: uppercase,
    $color: $colorFont,
  );
  &.v-btn--disabled {
    background-color: $background-color !important;
    color: $color !important;
    opacity: $opacity;
  }
}

@mixin taBtnDisabled(
  $background: #D9D8D9,
  $color: #5F5C60,
) {
  background-color: $background !important;
  color: $color !important;
}

.theme--dark {
  &.v-btn {
    &.ta-btn__outlined {
      @include taBtn();
      color: #5EBED4 !important;

      &.v-btn--disabled {
        @include taBtnDisabled($background: transparent, $color: #748C94);
        opacity: 0.4;
      }

      .v-icon {
        color: #748C94 !important;
      }
    }

    &.ta-btn__primary {
      @include taBtn(
        $colorFont: $white,
        $background-color: $gray,
        $color: $lightGray
      );

      &.v-btn--disabled {
        @include taBtnDisabled($background: rgba(116, 140, 148, 0.12), $color: #D9D8D9);
        opacity: 0.3;

        .v-icon {
          color: #D9D8D9 !important;
        }
      }
    }

    &.ta-btn__secondary {
      @include taBtn(
        $colorFont: $darkBlue,
        $background-color: $gray,
        $color: $lightGray
      );

      &.v-btn--disabled {
        @include taBtnDisabled($background: rgba(116, 140, 148, 0.12), $color: #D9D8D9);
        opacity: 0.3;

        .v-icon {
          color: #D9D8D9 !important;
        }
      }
    }
  }
}

.theme--light {
  &.v-btn {
    &.ta-btn__outlined {
      @include taBtn(
        $color: $gray,
        $opacity: 0.4,
      );

      &.v-btn--disabled {
        .v-icon {
          color: #5F5C60 !important;
        }
      }
    }

    &.ta-btn__primary {
      @include taBtn(
        $colorFont: $white,
        $background-color: $white,
        $color: $lightGray,
        $opacity: 1
      );

      &.v-btn--disabled {
        &.v-btn--has-bg {
        @include taBtnDisabled()
        }

        .v-icon {
          color: #5F5C60 !important;
        }
      }
    }

    &.ta-btn__secondary {
      @include taBtn(
        $colorFont: $white,
        $background-color: $white,
        $color: $lightGray,
        $opacity: 1
      );

      &.v-btn--disabled {
        &.v-btn--has-bg {
        @include taBtnDisabled()
        }

        .v-icon {
          color: #5F5C60 !important;
        }
      }
    }
  }
}
