@mixin custom-buttonDrop(
  $font-color: $primary
) {
  @include font-format(
    $size: 16px,
    $line-height: 20px,
    $weight: 600,
    $transform: uppercase,
    $color: $font-color,
  );
  opacity: 1;

}

@mixin custom-menuDrop() {
  .v-list-item {
    .v-list-item__title {
      color: $blue;
      cursor: pointer;
    }
  }
}