@mixin card() {
  .v-card__subtitle {
    @include font-format(
      $color: $gray,
      $size: 16px
    );
  }
  
  .v-card__text {
    @include font-format(
      $color: $black,
      $size: 14px
    );
    letter-spacing: 0.4px;
  }
  
  .v-card__title {
    @include font-format(
      $weight: 600,
      $color: $black,
      $size: 24px
    );
  }
  
  .v-card__actions {
    .v-btn {
      &.v-size--default {
        min-width: 0;
        padding: 0;
      }

      @include font-format(
        $weight: 600,
        $size: 14px,
        $transform: uppercase,
      );
        letter-spacing: 0.5px;
    }
  }
  
  &.theme--dark {
    background: $darkBlue;
  
    .v-card__subtitle {
      color: $gray2;
    }
  
    .ta-card__type {
      color: $lightGray;
    }
  
    .v-card__text {
      color: $white;
    }
  
    .v-card__title {
      color: $white;
    }
  
    .v-card__actions {
      &.primary--text {
        color: $lightBlue !important;
      }
    }
  }
}

@mixin status() {
  .v-card__actions {
    .v-chip {
      @include font-format(
        $weight: 500,
        $color: $white,
      );
      letter-spacing: 0.5px;

      &.v-size--default {
        height: 26px;
      }
    }
  }
}

@mixin card-custom() {
  .v-card__title {
    @include font-format(
      $weight: 700,
      $size: 16px,
      $color: $primary,
      $line-height: 120%,
    );
  }

  .v-card__subtitle {
    @include font-format(
      $weight: 400,
      $size: 14px,
      $color: $gray,
      $line-height: 120%,
    );
  }

  .v-divider {
    border: 0,5px solid $lightGray;
  }

  &.theme--dark {
    background-color: $darkBlue;

    .v-card__title {
      color: $lightBlue,
    }

    .v-card__subtitle {
      color: $lightGray;
    }

    .v-card__text {
      color: $white;
    }

    .v-divider {
      border-color: $lightGray;
    }
  }
}