@mixin chip-custom(
  $color-icon: #5F5C60,
  $opacity-icon: 1,
  $font-color: #1E1C1F,
) {
  .v-chip {
    @include font-format(
        $color: $font-color,
      );

    ::v-deep .v-icon.v-icon::before {
      color: $color-icon;
      opacity: $opacity-icon;
    }
  }
}