@import './fonts';

.v-application {
  @include font-format();
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media (max-width:600px){
  .w-100-sm {
    width: 100% !important;
  }
}