@mixin font-format(
  $font: 'Source_Sans_Pro_Regular',
  $size: 14px,
  $color: #1E1C1F,
  $line-height: 150%,
  $weight: 400,
  $transform: none
  ) {
  font-family: $font;
  font-size: $size;
  color: $color;
  line-height: $line-height;
  font-weight: $weight;
  text-transform: $transform;
}

.title-large {
  @include font-format(
    $font: 'Source_Sans_Pro_Regular',
    $size: 34px,
    $color: #1E1C1F,
    $line-height: 120%,
    $weight: 700,
    $transform: none
  );
}

.title-small {
  @include font-format(
    $font: 'Source_Sans_Pro_Regular',
    $size: 24px,
    $color: #1E1C1F,
    $line-height: 120%,
    $weight: 700,
    $transform: none
  );
}

.subTitles {
  @include font-format(
    $font: 'Source_Sans_Pro_Regular',
    $size: 16px,
    $color: #1E1C1F,
    $line-height: 150%,
    $weight: 600,
    $transform: none
  );
}

.text-regular {
  @include font-format();
}

.text-small {
  @include font-format(
    $font: 'Source_Sans_Pro_Regular',
    $size: 12px,
    $color: #1E1C1F,
    $line-height: 150%,
    $weight: 400,
    $transform: none
  );
}
