@mixin pagination(
  $color: $black,
  $color-more: $black,
  $colorNavigation: $black,
  $box-shadow: none,
  $border: 1px solid $black,
  $border-more: 1px solid $black,
  $min-width: 40px,
  $heigth: 40px,
  $background: transparent,
  $backgroundNavigation: transparent,
  $background-more: transparent,
  $border-radius: 4px,
  $active-color: $white,
) 

{
  li {
    .v-pagination__navigation {
      color: $colorNavigation;
      box-shadow: $box-shadow;
      border: $border;
      min-width: $min-width;
      height: $heigth;
      background: $backgroundNavigation;
    }
  
    .v-pagination__item {
      color: $color;
      box-shadow: $box-shadow;
      border: $border;
      min-width: $min-width;
      height: $heigth;
      background: $background;
  
      &.v-pagination__item--active {
        color: $active-color;
      }
    }
  
    .v-pagination__more {
      border-radius: $border-radius;
      background: $background-more;
      color: $color-more;
      box-shadow: $box-shadow;
      border: $border-more;
      min-width: $min-width;
      height: $heigth;
    }
  }
}