.ta-avatar__wrapper {
  .ta-avatar__title {
    @include font-format(
      $size: 16px,
      $line-height: 24px,
      $weight: 600,
      $color: $black,
    );
  }

  .ta-avatar__subtitle {
    @include font-format(
      $size: 12px,
      $line-height: 18px,
      $weight: 400,
      $color: $gray,
    );
  }

  .ta-avatar--edit {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid #D9D8D9;
    border-radius: 4px;
  }
}

.theme--dark {
  .ta-avatar__wrapper {
    .ta-avatar__title {
      color: $white;
    }

    .ta-avatar__subtitle {
      color: #5EBED4;
    }

    .ta-avatar--edit {
      border: 1px solid #5EBED4;

      .v-icon {
        color: #5EBED4;
      }
    }
  }
}