@mixin custom-slider() {
  .v-input__control {
    .v-input__slot {
      .v-slider {
        .v-slider__track-container {
          height: 4px;
        }
  
        .v-slider__thumb-container {
          .v-slider__thumb {
            width: 18px;
            height: 18px;
            left: -9px;
          }
          ::before {
            left: -9px;
            top: -9px;
          }
        }
  
        &.v-slider--disabled {
          .v-slider__track-container {
            .v-slider__track-fill {
              background-color: $lightGray;
            }
  
            .v-slider__track-background {
              background-color: $lightGray;
              opacity: 0.6;
            }
          }
  
          .v-slider__thumb-container {
            .v-slider__thumb {
              background-color: $lightGray;
            }
          }
  
          &.theme--dark {
            opacity: 0.5;
            .v-slider__track-container {
              .v-slider__track-fill {
                background-color: $gray2;
              }
  
              .v-slider__track-background {
                background-color: $gray2;
                opacity: 0.6;
              }
            }
  
            .v-slider__thumb-container {
              .v-slider__thumb {
                background-color: $gray2;
              }
            }
          }
        }
  
        &.theme--dark {
          .v-slider__track-container {
            .v-slider__track-background {
              background-color: $primary;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}