@mixin value-control-custom(
  $border-wrapper: 1px solid $primary,
  $value-control-btn-bg: $primary,
  $value-control-btn-border: $primary,
  $value-control-btn-icon: $white,
  $border-wrapper-disabled: 1px solid $gray,
  $value-control-btn-bg-disabled: $gray,
  $value-control-btn-icon-disabled: $white,
) {
  .ta-valueControl__wrapper {
    background: $white;
    width: auto;
    max-width: 115px;
    height: 32px;
    border-radius: 4px;
    position: relative;
  
    .ta-valueControl__counter {
      min-width: 60px;
      height: 32px;
      border-top: $border-wrapper;
      border-bottom: $border-wrapper;
  
      input {
        max-width: 57px;
        @include font-format(
          $size: 20px,
          $line-height: 30px,
          $weight: 400,
        );
        height: 30px;
  
        &:focus {
          outline: none;
        }
      }
  
      .ta-valueControl__counter--content {
        @include font-format(
          $size: 20px,
          $line-height: 30px,
          $weight: 400,
        );
      }
    }
  
    .ta-valueControl__btn {
      height: 100%;
      &.add {
        background: $value-control-btn-bg;
        border-radius: 4px 0 0 4px;
      }
  
      &.remove {
        background: $value-control-btn-bg;
        border-radius: 0 4px 4px 0;
      }
  
      .v-icon {
        font-size: 20px;
        color: $value-control-btn-icon;
      }
    }
  
    &.disabled {
      .ta-valueControl__btn {
        &.add {
          background: $value-control-btn-bg-disabled;
        }
  
        &.remove {
          background: $value-control-btn-bg-disabled;
        }

        .v-icon {
          color: $value-control-btn-icon-disabled;
        }
      }
    }
  }
  
  .theme--dark {
    .ta-valueControl__wrapper {
      background: $darkBlue;
  
      .ta-valueControl__counter {
        input {
          color: $white;
        }
  
        .ta-valueControl__counter--content {
          color: $white;
        }
      }
  
      .ta-valueControl__btn {
        &.add {
          background: $darkBlue;
          border: $border-wrapper;
        }
  
        &.remove {
          background: $darkBlue;
          border: $border-wrapper;
        }
  
        .v-icon {
          color: $blue;
        }
      }
  
      &.disabled {
        background: $darkBlue;
      }
    }
  }
}