$background: #F2F2F3;
$black: #1E1C1F;
$red: #DB4F4F;
$primary: #00527D;
$gray: #5F5C60;
$green: #35A97F;
$blue: #0096D3;
$gray2: #748C94;
$dark: #1A1E2E;
$lightBlue: #5EBED4;
$lightGray: #D9D8D9;
$darkBlue: #2A2F41;
$gray3: rgba(95, 92, 96, 0.6); // For clearer lines
$primary2: rgba(0, 82, 125, 0.8); // To the background of selected fields
$lightGray2: rgba(217, 216, 217, 0.3); // for light highlights
$white: #FFFFFF;
$darkRed: #7D2323; // for text taAlertSecondary
$error: #FF5858;
$info: #F2F2F3;
$success: #35A97F;
$warning: #FFC107;