<template>
  <div class="ta-accordion__wrapper">
    <v-expansion-panels>
      <v-expansion-panel
        v-for="( item, i ) in items"
        :key="i"
      >
        <v-expansion-panel-header>
          <v-row>
            <v-col>
              <p class="ta-accordion__title mb-0">
                {{ item.title }}
              </p>
            </v-col>

            <v-col>
              <p class="ta-accordion__subtitle mb-0">
                {{ item.subtitle }}
              </p>
            </v-col>
          </v-row>
        </v-expansion-panel-header>

        <v-expansion-panel-content>
          {{ item.text }}
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>

<script>
export default {
  name: 'TaAccordion',

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-accordion__wrapper {
  ::v-deep .v-item-group {
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.45);

    &.theme--dark {
      .v-expansion-panel {
        background-color: $darkBlue;

        .v-expansion-panel-header {
          .ta-accordion__title {
            color: $white;
          }

          .ta-accordion__subtitle {
            color: $lightBlue;
          }
        }

        .v-expansion-panel-content {
          .v-expansion-panel-content__wrap {
            color: $white;
          }
        }
      }
    }

    .v-expansion-panel {
      margin-top: 0;
      border-radius: 0;

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }

      &::before {
        box-shadow: none;
      }

      &::after {
        border: none;
      }

      .v-expansion-panel-header {
        min-height: 70px;

        .ta-accordion__title {
          @include font-format(
            $size: 18px,
            $line-height: 22px,
            $weight: 400,
            $transform: none,
            $color: $black,
          );
        }

        .ta-accordion__subtitle {
          @include font-format(
            $size: 18px,
            $line-height: 22px,
            $weight: 400,
            $transform: none,
            $color: $gray2,
          );
        }
      }

      .v-expansion-panel-content {
        .v-expansion-panel-content__wrap {
          @include font-format(
            $size: 16px,
            $line-height: 24px,
            $weight: 400,
            $transform: none,
            $color: $black,
          );
        }
      }
    }
  }
}
</style>
