<template>
  <div class="ta-seal__wrapper">
    <v-chip
      color="warning"
    >
      {{ label }}
    </v-chip>
  </div>
</template>

<script>
export default {
  name: 'TaSealWarning',

  props: {
    label: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-seal__wrapper {
  .v-chip {
    &.v-size--default {
      @include seal-custom();
    }
  }
}
</style>
