<template>
  <v-btn
    class="ta-btn-back"
    color="transparent"
    elevation="0"
    v-bind="$attrs"
  >
    <v-icon class="mr-2">
      mdi-arrow-left
    </v-icon>
    {{ label }}
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnBackButton',

  props: {
    label: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-btn-back {
  @include font-format(
    $weight: 600,
    $size: 16px,
    $line-height: 28px,
    $color: $gray,
  );

  &.theme--dark {
    color: $white;
  }
}
</style>
