<template>
  <div class="ta-tabs__wrapper">
    <v-tabs
      v-model="tab"
      grow
    >
      <v-tab
        v-for="( item, i ) in items"
        :key="i"
      >
        {{ item.label }}
      </v-tab>
    </v-tabs>

    <v-tabs-items
      v-model="tab"
    >
      <v-tab-item
        v-for="( item, key ) in items"
        :key="key"
      >
        <v-card
          flat
        >
          <v-card-text>{{ item.text }}</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
export default {
  name: 'TaTabsPrimary',

  data() {
    return {
      tab: null,
    };
  },

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-tabs__wrapper {
  ::v-deep.v-tabs {
    &.theme--dark {
      .v-item-group {
        &.v-tabs-bar  {
          background-color: $blue;
        }

        .v-tabs-slider-wrapper {
          color: $white;
        }
      }
    }

    .v-item-group {
      &.v-tabs-bar  {
        background-color: $primary;
      }

      .v-tabs-slider-wrapper {
        color: $lightBlue;
      }

      .v-tab {
        @include font-format(
          $font: 'Source_Sans_Pro_Regular',
          $size: 16px,
          $line-height: 20px,
          $weight: 600,
          $transform: none,
        );
        color: $white !important;
      }
    }
  }
}
</style>
