<template>
  <div
    class="ta-valueControl__wrapper d-flex justify-space-between align-center"
    :class="{ 'disabled': disabled}"
    elevation="1"
  >
    <button
    @click="!disabled ? removeCounter() : null"
    class="ta-valueControl__btn add d-flex align-center justify-center pr-1 pl-1"
    >
      <v-icon
      >
        mdi-minus
      </v-icon>
    </button>

    <span class="ta-valueControl__counter d-flex justify-center align-center">
      <div
        v-if="currency"
        class="d-flex justify-center align-center pl-2 pr-2"
      >
        <input
          v-model.lazy="localCounter"
          v-money="money"
          :id="id"
          @keydown.down.prevent="keyDown()"
          @keyup.up.prevent="keyUp()"
          @blur="blurCounter($event)"
          :disabled="!editable || disabled"
          class="text-center"
        />
      </div>

      <div
        v-if="editable && !currency"
        class="d-flex justify-center align-center pl-2 pr-2"
      >
        <input
          v-model="localCounter"
          :id="id"
          :disabled="disabled"
          @input="blurCounter($event)"
          @keydown.down.prevent="keyDown()"
          @keyup.up.prevent="keyUp()"
          class="text-center"
        />
      </div>

      <div v-if="!editable && !currency">
        <p class="ta-valueControl__counter--content mb-0">
          {{ localCounter }}
        </p>
      </div>

      <div
        v-if="percentage"
        :style="`${editable ? 'position: absolute; right: 34px; font-size: 12px;' : ''}`"
      >
        %
      </div>
    </span>

    <button
      @click="!disabled ? addCounter() : null"
      class="ta-valueControl__btn remove  d-flex align-center justify-center pr-1 pl-1"
    >
      <v-icon
      >
        mdi-plus
      </v-icon>
    </button>
  </div>
</template>

<script>
import { VMoney } from 'v-money';
import {
  formatString,
  formatPrice,
} from '@/utils/format.utils';

export default {
  name: 'TaValueControl',

  directives: { money: VMoney },

  data() {
    return {
      localCounter: this.counter,
      formatString,
      formatPrice,
      money: {
        decimal: this.locale.decimal,
        thousands: this.locale.thousands,
        prefix: this.locale.prefix,
        suffix: this.locale.suffix,
        precision: this.locale.precision,
        masked: false, /* doesn't work with directive */
      },
    };
  },

  props: {
    counter: {
      type: [Number, String],
      required: true,
      default: () => 0,
    },

    percentage: {
      type: Boolean,
      default: false,
    },

    editable: {
      type: Boolean,
      default: false,
    },

    disabled: {
      type: Boolean,
      default: false,
    },

    limitValue: {
      type: Number,
      default: 9999,
    },

    id: {
      type: [Number, null],
      default: null,
    },

    total: {
      type: [Number, null],
      default: null,
    },

    decimal: {
      type: Boolean,
      default: false,
    },

    item: {
      type: Object,
      default: () => {},
    },

    haveLimit: {
      type: Object,
      default: () => {
        const item = {
          have: false,
          value: 0,
        };
        return item;
      },
    },

    locale: {
      type: Object,
      default: () => {
        const obj = {
          decimal: ',',
          thousands: '.',
          prefix: '',
          suffix: '',
          precision: 2,
          masked: false,
        };
        return obj;
      },
    },

    currency: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    removeCounter() {
      if (this.currency) {
        /* eslint-disable */
        const str = this.localCounter.trim();
        let result = str.replace(/[^0-9]/g, '');
        if (/[,\.]\d{2}$/.test(str)) {
          result = result.replace(/(\d{2})$/, '.$1');
        }
        let value = parseFloat(result);
        this.localCounter = value;
        if (!this.decimal) {
          if (value > 0.99) {
            value = value - 1;
          }

          value = parseFloat(value).toFixed(2);
          this.localCounter = value;
        } else {
          if (value > 9.99) {
            value = value - 10;
          }
          value = parseFloat(value).toFixed(2);
          this.localCounter = value;
        }
        this.$emit('change-input-value', value);
        this.$emit('item', {
          item: this.item,
          value: this.localCounter,
        });
        return;
      }
      
      if (!this.decimal) {
        if (this.localCounter >= 1) {     
          this.localCounter -= 1;
        } 
      } else {
        if (this.localCounter > 9) {        
          this.localCounter -= 10;
        }
      }
      this.$emit('item', {
        item: this.item,
        value: this.localCounter,
      });
      this.blurCounter();
      /* eslint-enable */
    },

    addCounter() {
      if (this.currency) {
        /* eslint-disable */
        const str = this.localCounter.trim();
        let result = str.replace(/[^0-9]/g, '');
        if (/[,\.]\d{2}$/.test(str)) {
          result = result.replace(/(\d{2})$/, '.$1');
        }
        let value = parseFloat(result);
        if (this.decimal) {
          value = value + 10;
        } else {
          value = value + 1;
        }
        
        value = parseFloat(value).toFixed(2);
        this.localCounter = value;
        this.$emit('change-input-value', value);
        this.$emit('item', {
          item: this.item,
          value,
        });
        return;
      }
      this.localCounter = typeof this.localCounter === 'string' ? parseFloat(this.localCounter) : this.localCounter;
      if (this.decimal) {
        this.localCounter += 10;
      } else {
        this.localCounter += 1;
      }
      this.blurCounter();
      this.$emit('change-input-value', this.localCounter);
    },

    blurCounter() {
      /* eslint-disable */
      if (this.currency) {
        const str = this.localCounter.trim();
        let result = str.replace(/[^0-9]/g, '');
        if (/[,\.]\d{2}$/.test(str)) {
          result = result.replace(/(\d{2})$/, '.$1');
        }
        this.localCounter = JSON.stringify(parseFloat(result));
      } else {
        const value = this.localCounter;
        const undefinedValue = value === '' || value === null || value === 'undefined';
        this.localCounter = undefinedValue ? 0 : parseFloat(this.localCounter);
        const cond = typeof value === 'string' && (value !== '' || value !== null || value !== 'undefined');
        /* eslint-enable */
        if (this.haveLimit.have) {
          this.localCounter = cond ? parseFloat(this.localCounter) : this.localCounter;
          /* eslint-disable */
          this.localCounter = this.localCounter > this.haveLimit.value ? this.haveLimit.value : this.localCounter;
          /* eslint-enable */
        }
      }

      /* if (this.localCounter > this.limitValue) {
        this.localCounter = 9999;
      } */
      this.$emit('change-input-value', this.localCounter);
      this.$emit('item', {
        item: this.item,
        value: this.localCounter,
      });
    },

    keyDown() {
      if (this.id !== null && this.total !== null) {
        if ((this.id + 1) < this.total) {
          document.getElementById(this.id + 1).focus();
        }
      }
    },

    keyUp() {
      if (this.id !== null && this.total !== null) {
        if (this.id > 0) {
          document.getElementById(this.id - 1).focus();
        }
      }
    },
  },

  watch: {
    counter(value) {
      this.localCounter = value;
    },
  },
};
</script>

<style scoped lang="scss">
@import '../../assets/scss/_global.scss';
@include value-control-custom();
</style>
