<template>
  <div>
    <v-progress-circular
      indeterminate
      width="3"
      size="30"
      color="primary"
    >
    </v-progress-circular>
  </div>
</template>

<script>
export default {
  name: 'TaLoaderPrimary',
};
</script>
