<template>
  <div>
    <v-progress-circular
      indeterminate
      color="primary"
      width="5"
      size="40"
    >
    </v-progress-circular>
  </div>
</template>

<script>
export default {
  name: 'TaLoaderPrimaryLarge',
};
</script>
