<template>
  <div>
    <v-progress-circular
      indeterminate
      width="1"
      size="20"
      color="primary"
    >
    </v-progress-circular>
  </div>
</template>

<script>
export default {
  name: 'TaLoaderPrimarySmall',
};
</script>
