<template>
  <div>
    <v-progress-circular
      indeterminate
      width="1"
      size="20"
      color="blue"
    >
    </v-progress-circular>
  </div>
</template>

<script>
export default {
  name: 'TaLoaderSecondarySmall',
};
</script>
