<template >
  <v-btn
    class="ta-btn__secondary"
    color="blue"
    rounded
    height="50"
    elevation="0"
    v-bind="$attrs"
  >
    <v-icon>
      mdi-plus
    </v-icon>
    {{ label }}
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnFabLabeledSecondary',

  props: {
    label: {
      type: String,
      default: 'BUTTON',
    },
  },
};

</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

</style>
