<template>
  <v-btn
    class="ta-btn__primary"
    color="primary"
    height="50"
    rounded
    elevation="0"
    v-bind="$attrs"
  >
    <v-icon>
      mdi-plus
    </v-icon>
    {{ label }}
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnFabLabeledPrimary',

  props: {
    label: {
      type: String,
      default: 'BUTTON',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

</style>
