<template>
  <v-btn-toggle class="ta-btn-drop--wrapper">
    <v-btn>
      {{ label }}
    </v-btn>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          dark
          outlined
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>
            mdi-menu-down
          </v-icon>
        </v-btn>
      </template>
      <v-list  class="ta-btn-drop--wrapper__menu">
        <v-list-item
          v-for="(item, index) in items"
          :key="index"
        >
          <v-list-item-title
            @click="$emit('select-item', item)"
          >
            {{ item.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-btn-toggle>
</template>

<script>
export default {
  name: 'TaBtnDropDownOutlined',

  props: {
    label: {
      type: String,
      require: true,
      default: 'BUTTON',
    },

    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};

</script>
<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-btn-drop--wrapper {
  background: transparent !important;
  &.v-item-group {
    &.v-btn-toggle {
      .v-btn {
        @include custom-buttonDrop();

        .v-btn__content {
          background-color: transparent !important;
          .v-icon {
            color: $primary;
          }
        }

        &.v-btn.v-btn--has-bg {
          background-color: transparent;
        }
      }
    }
    &.v-btn-toggle:not(.v-btn-toggle--group) {
      .v-btn {
        border-color: rgba(0, 82, 125, 0.5) !important;
      }
    }
  }

  &.theme--dark {
    &.v-item-group {
      &.v-btn-toggle:not(.v-btn-toggle--group) {
        background-color: transparent;

        .v-btn {
          border-color: $blue !important;
          color: $blue;
          background-color: transparent;
        }
      }
    }
  }
}

.ta-btn-drop--wrapper__menu {
  @include custom-menuDrop();
}

</style>
