<template>
  <div>
    <v-btn-toggle class="ta-btn-drop--wrapper">
      <v-btn>
        {{ label }}
      </v-btn>
       <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            dark
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>
              mdi-menu-down
            </v-icon>
          </v-btn>
        </template>
        <v-list class="ta-btn-drop--wrapper__menu">
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
          >
            <v-list-item-title
              @click="$emit('select-item', item)"
            >
              {{ item.title }}
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-btn-toggle>
  </div>
</template>

<script>
export default {
  name: 'TaBtnDropDownPrimary',

  props: {
    label: {
      type: String,
      require: true,
      default: 'BUTTON',
    },

    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-btn-drop--wrapper {
  &.v-item-group {
    &.v-btn-toggle {
      .v-btn {
        @include custom-buttonDrop($font-color: $white);
        background-color: $primary;

        .v-btn__content {
          .v-icon {
            color: $white;
          }
        }
      }
    }
  }

  &.theme--dark {
    &.v-item-group {
      &.v-btn-toggle {
        .v-btn {
          background-color: $blue;
        }
      }
    }
  }
}

.ta-btn-drop--wrapper__menu {
  @include custom-menuDrop();
}

</style>
