<template>
  <div>
    <v-text-field
      v-bind="$attrs"
      :value="value"
      v-on="$listeners"
      class="rounded-lg"
      outlined
    ></v-text-field>
  </div>
</template>

<script>
export default {
  name: 'TaTextField',

  data() {
    return {
      value: null,
    };
  },
};
</script>
