<template>
  <div>
    <v-text-field
      v-bind="$attrs"
      v-on="$listeners"
      :value="value"
      outlined
      class="rounded-lg"
      v-money="money"
    ></v-text-field>
  </div>
</template>

<script>
export default {
  name: 'TatextFieldCurrency',

  data() {
    return {
      value: null,
      money: {
        decimal: ',',
        thousands: '.',
        prefix: 'R$ ',
        suffix: '',
        precision: 2,
        masked: false,
      },
    };
  },
};
</script>
