<template>
  <v-btn
    class="ta-btn__primary w-100-sm"
    color="primary"
    x-large
    :disabled="disabled"
    elevation="0"
  >
    {{ label }}
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnPrimaryLarge',

  props: {
    label: {
      type: String,
      require: true,
      default: 'BUTTON',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

</style>
