<template>
  <div class="ta-card__wrapper">
    <v-card
      v-bind="$attrs"
      width="100%"
      class="ta-card pa-4"
    >
      <v-card-subtitle class="pa-0 mb-4 ">
        {{ code }}
      </v-card-subtitle>

      <v-card-title class="pa-0 mb-3">
        {{ title }}
      </v-card-title>

      <v-card-subtitle class="ta-card__type pa-0 mb-5">
        {{ type }}
      </v-card-subtitle>

      <v-card-text class="pa-0 mb-5">
        {{ description }}
      </v-card-text>

      <v-card-actions class="pa-0">
        <v-row no-gutters>
          <v-col class="d-flex justify-space-between align-center">
            <div>
              <v-btn
                text
                color="primary"
                @click="$emit('action', item)"
                id="no-hover"
              >
              {{ action }}
              </v-btn>
            </div>

            <div v-if="chip">
              <v-chip :color="colorChip" class="px-5">
                {{chip}}
              </v-chip>
            </div>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCard',

  props: {
    code: {
      type: String,
      require: true,
      default: () => '',
    },

    title: {
      type: String,
      require: true,
      default: () => '',
    },

    type: {
      type: String,
      require: true,
      default: () => '',
    },

    description: {
      type: String,
      require: true,
      default: () => '',
    },

    action: {
      type: String,
      require: true,
      default: () => '',
    },

    chip: {
      type: String,
      default: () => '',
    },

    colorChip: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-card__wrapper {
  .ta-card  {
    @include card;
    @include status;

    ::v-deep .v-btn::before {
      background-color: transparent !important;
    }
  }
}
</style>
