<template>
  <div class="ta-cardInfo__wrapper">
    <v-card
      v-bind="$attrs"
      elevation="0"
      class="px-2 py-0"
    >
      <v-row no-gutters class="d-flex flex-column">
        <v-col class="d-flex justify-space-between align-center px-2 py-4">
          <v-card-title
            class="pa-0"
          >
            {{ title }}
          </v-card-title>
          <v-card-subtitle class="pa-0 ma-0">
            {{ code }}
          </v-card-subtitle>
        </v-col>

        <v-divider></v-divider>

        <v-col class="px-2 py-4">
          <div>
            <TaAvatarDetail
              v-bind="$attrs"
            />
          </div>
        </v-col>
      </v-row>

    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCardInfo',
  components: {
    TaAvatarDetail: () => import('@/components/taAvatar/TaAvatarDetail.vue'),
  },

  props: {
    title: {
      type: String,
      default: () => '',
    },
    code: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-cardInfo__wrapper {
  .v-card {
    @include card-custom();
  }
}
</style>
