<template>
  <div class="ta-cardDetail">
    <v-card
      elevation="0"
      class="px-2 py-0"
    >
      <v-row no-gutters class="d-flex flex-column">
        <v-col class="d-flex justify-space-between align-center px-2 py-4">
          <v-card-title class="pa-0">
            {{ title }}
          </v-card-title>
          <v-card-subtitle class="pa-0 ma-0">
            {{ code }}
          </v-card-subtitle>
        </v-col>

        <v-divider></v-divider>

        <v-col class="px-2 py-4 d-flex justify-space-between">
          <div>
            <TaAvatarDetail
              v-bind="$attrs"
            />
          </div>
          <div>
            <v-btn
              elevation="0"
              class="px-6"
              color="#00527D14"
            >
              {{ labelBtn }}
            </v-btn>
          </div>
        </v-col>
      </v-row>

    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCardDetail',
  components: {
    TaAvatarDetail: () => import('@/components/taAvatar/TaAvatarDetail.vue'),
  },

  props: {
    title: {
      type: String,
      default: () => '',
    },
    code: {
      type: String,
      default: () => '',
    },
    labelBtn: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-cardDetail {
  .v-card {
    @include card-custom();

    .v-btn {
      @include font-format(
         $color: #00527D,
         $size: 13px,
         $weight: 600,
      );
    }

    &.theme--dark {
      .v-btn {
        background-color: rgba(0, 150, 211, 0.1) !important;
        color: #0096D3;
      }
    }
  }
}
</style>
