<template>
  <div class="ta-cardDetail-secundary">
    <v-card
      v-bind="$attrs"
      elevation="0"
      class="px-2 py-0"
    >
      <v-row no-gutters class="d-flex flex-column">
        <v-col class="d-flex justify-space-between align-center px-2 py-4">
          <div>
            <v-card-title class="pa-0">
              {{ title }}
            </v-card-title>

            <v-card-subtitle class="pa-0 ma-0">
              {{ subtitle }}
            </v-card-subtitle>
          </div>

          <v-card-subtitle class="pa-0 ma-0">
            {{ code }}
          </v-card-subtitle>
        </v-col>

        <v-divider></v-divider>

        <v-col class="px-2 pt-4">
          <v-card-text class="pa-0">
            {{ description }}
          </v-card-text>
        </v-col>

        <v-col class="px-2 py-4 d-flex flex-column justify-space-between">
          <div class="mb-7">
            <TaAvatarDetail
              v-bind="$attrs"
            />
          </div>
          <div>
            <v-btn
              elevation="0"
              class="px-6"
              color="primary"
              block
            >
              {{ labelBtn }}
            </v-btn>
          </div>
        </v-col>
      </v-row>

    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCardDetailSecundary',
  components: {
    TaAvatarDetail: () => import('@/components/taAvatar/TaAvatarDetail.vue'),
  },

  props: {
    title: {
      type: String,
      default: () => '',
    },
    code: {
      type: String,
      default: () => '',
    },
    subtitle: {
      type: String,
      default: () => '',
    },
    description: {
      type: String,
      default: () => '',
    },
    labelBtn: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-cardDetail-secundary {
  .v-card {
    @include card-custom();

    .v-card__text {
      @include font-format();
    }

    .v-btn {
      @include font-format(
         $color: $white,
         $size: 14px,
         $weight: 600,
      );
    }

    &.theme--dark {
      .v-btn {
        background-color: $lightBlue !important;
        color: $darkBlue;
      }
    }
  }
}
</style>
