<template>
  <v-row justify="center">
    <v-dialog
      v-bind="$attrs"
      persistent
      scrollable
    >
      <v-card class="ta-dialogSlot pa-0">
        <div class="d-flex justify-end pt-2 pr-2">
          <v-icon
            @click="$emit('close-modal')"
            style="cursor-pointer"
          >
            mdi-close
          </v-icon>
        </div>

        <div>
          <p class="ta-dialogSlot__title mb-0 mt-n6 pb-2 pl-4">
            {{ dialogHeader.dialogTitle }}
          </p>
        </div>

        <v-card-text class="pt-3">
          <slot name="content"></slot>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  name: 'TaDialogList',

  props: {
    dialogHeader: {
      type: Object,
      default: () => {},
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.v-dialog__content {
  .v-dialog {
    .ta-dialogSlot {
      .ta-dialogSlot__title {
        @include font-format(
          $size: 16px,
          $line-height: 20px,
          $weight: 700,
          $color: $primary,
        );
      }

      .v-card__text {
        border-top: 0.5px solid rgba(116, 140, 148, 0.4);
      }
    }
  }
}

.theme--dark {
  .v-dialog__content {
    .v-dialog {
      .ta-dialogSlot {
        .ta-dialogSlot__title {
          color: $blue;
        }
      }
    }
  }
}
</style>
