<template>
  <div class="ta-dialogConfirmation__wrapper text-center">
    <v-dialog
      v-bind="$attrs"
      persistent
      scrollable
      width="310"
    >
      <v-card class="pa-7 text-center ta-dialogConfirmation">
        <div v-if="closeOption" class="d-flex justify-end mb-n3 mt-n4">
          <v-icon
            @click="$emit('close')"
            color="#748C94"
          >
            mdi-close-circle
          </v-icon>
        </div>
        <p class="ta-dialogConfirmation__title" :class="titleClass">{{ title }}</p>
        <v-card-text class="ta-dialogConfirmation__text pa-0 mb-4 text-center">
          {{ description }}
        </v-card-text>
        <v-card-actions
          class="pa-0 d-flex justify-space-around"
          :class="columnButton ? 'flex-column' : ''"
        >
          <v-btn
            class="ta-btn__primary"
            :style="columnButton ? 'width: 100%' : 'width: 110px'"
            color="primary"
            large
            elevation="0"
            @click="$emit('primary-button')"
          >
            {{ confirmLabel }}
          </v-btn>

          <v-btn
            v-if="cancelLabel"
            class="ta-btn__outlined ml-0"
            :class="columnButton ? 'mt-4' : ''"
            :style="columnButton ? 'width: 100%' : 'width: 110px'"
            color="primary"
            large
            outlined
            elevation="0"
            @click="$emit('secundary-button')"
          >
            {{ cancelLabel }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: 'TaDialogConfirmation',

  props: {
    title: {
      type: String,
      require: true,
      default: '',
    },
    description: {
      type: String,
      require: true,
      default: '',
    },

    confirmLabel: {
      type: String,
      require: true,
      default: 'button',
    },

    cancelLabel: {
      type: String,
      default: '',
    },

    titleClass: {
      type: String,
      default: '',
    },

    columnButton: {
      type: Boolean,
      default: false,
    },

    closeOption: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.v-dialog__content {
  .v-dialog {
    .ta-dialogConfirmation {
      .ta-dialogConfirmation__title {
        @include font-format(
          $size: 16px,
          $line-height: 20px,
          $weight: 700,
          $color: $primary,
        );

        &.title_error {
          color: #DB4F4F;
        }
      }

      .ta-dialogConfirmation__text {
        @include font-format(
          $size: 14px,
          $line-height: 21px,
          $weight: 400,
          $color: $gray,
        );
      }

      .taBtnPrimary, .taBtnOutlined {
        text-transform: none;
      }
    }
  }
}

.theme--dark {
  .v-dialog__content {
    .v-dialog {
      .ta-dialogConfirmation {
        .ta-dialogConfirmation__title {
          color: $blue;
        }

        .ta-dialogConfirmation__text {
          color: $white;
        }
      }
    }
  }
}
</style>
