<template>
  <v-row justify="center">
    <v-dialog
      v-bind="$attrs"
      persistent
      scrollable
    >
      <v-card  class="ta-dialogList pt-3 pa-0">
        <v-card-text class="pa-0">
          <div class="d-flex justify-end pt-2 pr-2">
            <v-icon
              @click="$emit('close-modal')"
              style="cursor-pointer"
            >
              mdi-close
            </v-icon>
          </div>

          <div>
            <p class="ta-dialogList__title mb-0 mt-n6 pb-2 pl-4">
              {{ title }}
            </p>
          </div>

          <v-list dense class="pa-0">
            <v-list-item-group>
              <v-list-item
                v-for="( item, i ) in items"
                :key="i"
              >
                <v-list-item-content>
                  <v-list-item-title
                    @click="$emit('select-item', item)"
                  >
                    <span v-if="dialogCurrency">
                      {{ item.parcel }}x de {{ formatCurrency(item.price) }}
                    </span>

                    <span v-else>
                      {{ item.text }}
                    </span>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { formatCurrency } from '@/utils/format.utils';

export default {
  name: 'TaDialogList',

  data() {
    return {
      formatCurrency,
    };
  },

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },

    dialogCurrency: {
      type: Boolean,
      default: () => false,
    },

    title: {
      type: String,
      require: true,
      default: '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.v-dialog__content {
  .v-dialog {
    .ta-dialogList {
      .ta-dialogList__title {
        @include font-format(
          $size: 16px,
          $line-height: 20px,
          $weight: 700,
          $color: $primary,
        );
      }

      .v-list {
        .v-item-group {
          .v-list-item {
            @include font-format(
              $size: 14px,
              $line-height: 21px,
              $weight: 400,
              $color: $gray,
            );
            list-style: none;
            height: 45px;
            border-top: 0.5px solid rgba(116, 140, 148, 0.4);
          }
        }
      }
    }
  }
}

.theme--dark {
  .v-dialog__content {
    .v-dialog {
      .ta-dialogList {
        .ta-dialogList__title {
          color: $blue;
        }

        .v-list {
          .v-item-group {
            .v-list-item {
              color: $white;
            }
          }
        }
      }
    }
  }
}
</style>
