<template>
  <v-navigation-drawer
    v-model="drawer"
    :temporary="screen <= 1023"
    :permanent="screen >= 1024"
    app
    color="info"
    class="menu"
    v-click-outside="hideDrawer"
  >
    <v-list-item style="height: 84px;" class="px-2 d-flex justify-center">
      <v-img
        :src="brand"
        :lazy-src="brand"
        style="cursor: pointer;"
        :max-width="120"
        max-height="52"
      />
    </v-list-item>

    <template v-slot:activator>
      <v-list-item-content>
        <v-list-item-title >{{ item.title }}</v-list-item-title>
      </v-list-item-content>
    </template>

    <div
      v-for="(item, key) in items"
      :key="key"
    >
      <v-list-item
        @click="navigate(item)"
        v-if="item.enable"
        :class="{ 'bg-color' : item.active }"
      >
        <template v-if="!item.subItems">
          <div class="custom">
            <v-list-item-icon
              class="mr-3"
              color="#1E1C1F"
            >
              <v-icon
                v-text="item.icon"
                color="#1E1C1F"
                class="mr-0"
              />
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title
                v-text="item.title"
              />
            </v-list-item-content>
          </div>
        </template>

        <!--<template v-else>
          <v-list-group
            :value="!group"
            :prepend-icon="item.icon"
            color="#1E1C1F"
            v-if="item.enable"
          >
            <template v-slot:activator>
              <v-list-item-title
                v-text="item.title"
                no-action
              />
            </template>

            <v-list-item
              v-for="(subItem, key) in item.subItems"
              :key="key"
              @click="navigate(subItem)"
            >
              <template>
                <v-list-item-content>
                  <v-list-item-title>
                    <span>{{ subItem.title }}</span>
                  </v-list-item-title>
                </v-list-item-content>
              </template>
            </v-list-item>
          </v-list-group>
        </template>-->
      </v-list-item>
    </div>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'TaDrawer',

  data() {
    return {
      group: true,
      screen: window.screen.width,
    };
  },

  props: {
    items: {
      default: () => [],
      required: true,
      type: Array,
    },

    drawer: {
      default: true,
      type: Boolean,
      required: true,
    },

    brand: {
      type: String,
      default: '',
      required: true,
    },
  },

  created() {
    this.setScreenWidth();

    window.addEventListener('resize', () => {
      this.setScreenWidth();
    });
  },

  methods: {
    setScreenWidth() {
      this.screen = window.screen.width;
    },

    logout() {
      console.log('sair');
    },

    hideDrawer(e) {
      if (e.target.className === 'v-overlay__scrim') {
        this.$emit('hide-drawer');
      }
    },

    navigate(item) {
      /* eslint-disable */
      this.items.map((it => {
        if(item.id === it.id) {
          it.active = true;
        } else {
          it.active = false;
        }
      }))
      /* eslint-enable */
      if (item.title === 'Sair') {
        this.$emit('logoff');
      } else {
        this.$emit('on-navigate', item);
      }
    },
  },

  watch: {
    $route() {
      this.drawer = true;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.menu {
  min-height: 100vh;
  height: 100% !important;

  ::v-deep.v-list-item__icon {
    &:first-child {
      margin-right: 11px;
    }
  }

  .bg-color {
    background-color: rgba(0, 150, 211, 0.1);
    border-left: 5px solid rgba(0, 167, 235, 1);
  }

  ::v-deep.v-list-item {
    text-align: left;
    padding: 0;
    min-height: 20px;
  }

  ::v-deep.v-list-group--active {
    background-color: #0096D3;
    opacity: 0.1;
    border-left: 5px solid #0047b0;
  }

  .bg-active {
    border-left: 5px solid #0047b0;
    background-color: red;
  }

  ::v-deep.v-icon {
    color: $black;
  }

  ::v-deep.v-list-group {
    width: 100%;
  }

  ::v-deep.v-list-group__header {
    padding: 0 16px;

    .v-list-item__title {
      text-align: left;
      padding: 0;
      @include font-format(
        $weight: 600,
        $size: 14px,
        $color:  $black,
      );
    }
  }

  .custom {
    width: 100%;
    display: flex;
    padding: 0 16px;
  }
  ::v-deep.v-list-item__title {
    padding: 0 16px;
    @include font-format(
      $weight: 600,
      $size: 14px,
      $color:  $black,
    );
  }
  ::v-deep.v-divider {
    border-color:  $black;
  }
}
</style>
