<template>
  <div class="ta-location__wrapper">
    <v-text-field
      v-model="originModel"
      outlined
      label="Origem"
      prepend-icon="mdi-checkbox-blank-circle-outline"
      class="ta-location__text--primary"
      :input="onInputValue({ key: 'origin', value: originModel })"
      @keydown="inputFocus('origin')"
      @blur="inputFocus('origin')"
    ></v-text-field>

    <v-text-field
      v-model="destinyModel"
      outlined
      label="Destino"
      prepend-icon="mdi-map-marker"
      :input="onInputValue({ key: 'destiny', value: destinyModel })"
      @keydown="inputFocus('destiny')"
      @blur="inputFocus('destiny')"
    ></v-text-field>

    <v-list class="pa-0">
      <v-list-item
        two-line
        class="ta-location__actual--location"
      >
        <div class="d-flex">
          <v-icon class="mr-5">
            mdi-crosshairs-gps
          </v-icon>

          <v-list-item-content>
            <v-list-item-title>Buscar minha localização atual</v-list-item-title>
            <v-list-item-subtitle>Usar localização do dispositivo</v-list-item-subtitle>
          </v-list-item-content>
        </div>
      </v-list-item>

      <div v-if="locationList">
        <v-list-item
          v-for="( item, key ) in locationItems"
          :key="key"
          two-line
          @click="selectItem(item)"
        >
          <div class="d-flex">
            <v-icon class="mr-5">
              mdi-map-marker
            </v-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.street }}</v-list-item-title>
              <v-list-item-subtitle>
                {{ item.district }}, {{ item.state }} - {{ item.acronym }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </div>
        </v-list-item>
      </div>
    </v-list>
  </div>
</template>

<script>
export default {
  name: 'TaLocation',

  data() {
    return {
      originControl: false,
      destinyControl: false,
      originModel: null,
      destinyModel: null,
      locationList: false,
      originField: false,
    };
  },

  props: {
    locationItems: {
      type: Array,
      default: () => [],
    },
  },

  methods: {
    onInputValue(item) {
      this.$emit('onInputValue', item.value);
      if (item.key === 'origin' && this.originControl) {
        this.locationList = true;
        this.originField = true;
      }
      if (item.key === 'destiny' && this.destinyControl) {
        this.locationList = true;
        this.originField = false;
      }
    },

    selectItem(item) {
      this.$emit('select-item', item);
      if (this.originField) {
        this.originModel = item.street;
      } else {
        this.destinyModel = item.street;
      }
    },

    inputFocus(item) {
      if (item === 'origin') {
        this.originControl = true;
        this.destinyControl = false;
      } else {
        this.originControl = false;
        this.destinyControl = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-location__wrapper {
  .ta-location__text--primary {
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 60px;
      border: 1px dashed #5F5C60;
      width: 1px;
      bottom: -20%;
      position: absolute;
      left: 10px;
    }
  }

  .v-list {
    background: transparent;
    border-bottom: 1px solid #D9D8D9;

    .v-list-item {
      border-top: 1px solid #D9D8D9;
      cursor: pointer;

      &.ta-location__actual--location {
        background: rgba(217, 216, 217, 0.3);
      }

      &:hover {
        background: rgba(217, 216, 217, 0.3);
      }

      .v-list-item__title {
        @include font-format(
          $size: 14px,
          $line-height: 20px,
          $weight: 700,
          $transform: none,
          $color: #1E1C1F,
        );
      }

      .v-list-item__subtitle {
        @include font-format(
          $size: 12px,
          $line-height: 16px,
          $weight: 400,
          $transform: none,
          $color: #5F5C60,
        );
      }
    }

    &.theme--dark {
      .v-list-item {
        .v-list-item__title {
          color: $white;
        }

        .v-list-item__subtitle {
          color: #D9D8D9;
        }

        .v-icon {
          color: #5EBED4;
        }
      }
    }
  }
}
</style>
