<template>
  <div>
    <v-switch
      v-bind="$attrs"
      v-on="$listeners"
      class="ta-switch"
    ></v-switch>
  </div>
</template>

<script>
export default {
  name: 'TaSwitch',
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-switch {
  @include font-format(
    $size: 16px,
    $line-height: 20PX,
    $weight: 400,
  );
  height: 25px;

  &.theme--dark {
    ::v-deep .v-input--switch__track {
      color: #748C94;
    }
  }
}

</style>
