<template>
  <v-btn
    class="ta-btn__outlined w-100-sm"
    color="primary"
    x-large
    outlined
    :disabled="disabled"
    elevation="0"
  >
    {{ label }}
    <v-icon class="ml-2">
      mdi-arrow-right
    </v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnNextOutlinedLarge',

  props: {
    label: {
      type: String,
      require: true,
      default: 'BUTTON',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

</style>
