<template>
  <v-btn
    color="red"
    elevation="0"
    class="ta-btn__secondary"
    :disabled="disabled"
    small
  >
    <v-icon
      color="#ffffff"
    >
      mdi-delete
    </v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnUploadIconDelete',

  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

</style>
