<template>
  <div class="ta-alertSecundary__wrapper">
    <transition
      name="fade"
    >
      <v-alert
        color="blue"
        text
        icon="mdi-alert-circle-outline"
        type="info"
        v-if="controlShow"
      >
        {{ label }}
      </v-alert>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'TaAlertSecondaryInfo',

  props: {
    label: {
      type: String,
      default: () => '',
    },

    controlShow: {
      default: false,
      required: true,
      type: Boolean,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

.ta-alertSecundary__wrapper {
  @include custon-alert();
}
</style>
