<template>
  <div class="home-wrapper d-flex align-center justify-center pa-5">
    <v-card>
      <v-img
        lazy-src="../assets/imgs/home.png"
        src="../assets/imgs/home.png"
      ></v-img>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/_global.scss';

.home-wrapper {
  height: 100vh;

  .v-image {
    width: 100%;
    max-width: 1300px;
  }
}
</style>
