<template>
  <div>
    <v-app app :style="{background: $vuetify.theme.themes[theme].background}">
      <TaDrawer
        :items="items"
        :brand="brand"
        :drawer="drawer"
        @on-navigate="navigateRouter($event)"
        @hide-drawer="drawer = false"
      />
      <v-main>
        <v-container fluid>
          <v-app-bar app color="white" class="pt-2">
            <TaAppToolbar
              :profile="profile"
              :title="title"
              :btnLabel="'sair'"
              @on-click="logout()"
              @navigate-drawer="drawer = !drawer"
            />
          </v-app-bar>

          <div class="mt-8">
            <router-view/>
          </div>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import { Brand } from '@/utils/images.utils';

export default {
  name: 'Layout',

  components: {
    TaDrawer: () => import('@/components/taDrawer/TaDrawer.vue'),
    TaAppToolbar: () => import('@/components/taBar/TaAppToolbar.vue'),
  },

  data() {
    return {
      drawer: false,
      brand: Brand,
      items: [
        {
          title: 'Home',
          router: '/',
          id: 0,
          icon: 'mdi-train-variant',
          enable: true,
          active: true,
        },
        {
          title: 'TaAccodion',
          router: '/accordion',
          id: 1,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaAlerts',
          router: '/alerts',
          id: 2,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaAvalation',
          router: '/avaliation',
          id: 3,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaAvatar',
          router: '/avatar',
          id: 4,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaBar',
          router: '/bar',
          id: 5,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaBreadcrumb',
          router: '/breascrumb',
          id: 5,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaButtons',
          router: '/btn-primary',
          id: 7,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaCard',
          router: '/cards',
          id: 8,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaChecbox',
          router: '/checkbox',
          id: 9,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaChip',
          router: '/chip',
          id: 10,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaDateicker',
          router: '/datepicker',
          id: 11,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaDialog',
          router: '/dialog',
          id: 12,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaListInfo',
          router: '/list-info',
          id: 13,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaLocation',
          router: '/location',
          id: 14,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaLoader',
          router: '/loader',
          id: 15,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaRadioButton',
          router: '/radio-button',
          id: 16,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaSeal',
          router: '/seal',
          id: 17,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaSelect',
          router: '/select',
          id: 18,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaSlider',
          router: '/slider',
          id: 19,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaSnackbar',
          router: '/snackbar',
          id: 20,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaStep',
          router: '/steps',
          id: 21,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaSwitch',
          router: '/switch',
          id: 22,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaTable',
          router: '/table',
          id: 23,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaTabs',
          router: '/tabs',
          id: 24,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaValueControl',
          router: '/value-control',
          id: 25,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
        {
          title: 'TaTextField',
          router: '/text-field',
          id: 26,
          icon: 'mdi-train-variant',
          enable: true,
          active: false,
        },
      ],
      profile: {
        url: 'https://cdn.vuetifyjs.com/images/john.jpg',
        name: 'Tatiana Shmayluk',
      },
      title: 'Título da página',
    };
  },

  computed: {
    theme() {
      return (this.$vuetify.theme.dark) ? 'dark' : 'light';
    },
  },

  methods: {
    navigateRouter(item) {
      /* eslint-disable */
      if (item.router !== this.$router.currentRoute.path) {
        this.$router.push(item.router);
      }
      /* eslint-enable */
    },
  },
};
</script>

<style lang="scss" scoped>
.layout-wrapper {
  .layout-loader {
    min-height: 100vh;
  }
}

::v-deep  .theme--light {
  &.v-app-bar {
    &.v-toolbar {
      &.v-sheet {
        height: 84px !important;
      }
    }
  }
}
</style>
