<template>
  <div class="pa-5">
    <v-card class="pa-5" color="transparent">
      <v-row>
        <v-col>
          <h3>TaAccordion</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaAccordion
            :items="items"
          />
        </v-col>
      </v-row>

    <v-row>
      <v-col>
          <TaAccordion
            :items="singleItem"
          />
      </v-col>
    </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaAccordionPage',

  components: {
    TaAccordion: () => import('@/components/taAccordion/TaAccordion.vue'),
  },

  data() {
    return {
      singleItem: [
        {
          title: 'Título',
          subtitle: 'Subtítulo',
          text: 'Phasellus volutpat congue nibh ut ullamcorper. Vestibulum cursus sapien at est euismod vehicula. Donec cursus fringilla velit et hendrerit.',
        },
      ],
      items: [
        {
          title: 'Título',
          subtitle: 'Subtítulo',
          text: 'Phasellus volutpat congue nibh ut ullamcorper. Vestibulum cursus sapien at est euismod vehicula. Donec cursus fringilla velit et hendrerit.',
        },
        {
          title: 'Título',
          subtitle: 'Subtítulo',
          text: 'Phasellus volutpat congue nibh ut ullamcorper. Vestibulum cursus sapien at est euismod vehicula. Donec cursus fringilla velit et hendrerit.',
        },
      ],
    };
  },
};
</script>
