<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaAlerts</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-btn
            @click="controlShow = true"
            color="primary"
            elevation="0"
            x-large
          >
            open alerts
          </v-btn>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaAlertPrimaryActionError
            :controlShow="controlShow"
            :label="label"
            :actionLabel="'ACTION'"
            @action="action()"
            @close="controlShow = false"
          />
        </v-col>
        <v-col cols="12" md="6">
          <TaAlertPrimaryActionInfo
            :controlShow="controlShow"
            :label="label"
            :actionLabel="'ACTION'"
            @action="action()"
            @close="controlShow = false"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaAlertPrimaryActionSuccess
            :controlShow="controlShow"
            :label="label"
            :actionLabel="'ACTION'"
            @action="action()"
            @close="controlShow = false"
          />
        </v-col>

        <v-col cols="12" md="6">
          <TaAlertSecondaryActionError
            :controlShow="controlShow"
            :label="label"
            :actionLabel="'ACTION'"
            @action="action()"
            @close="controlShow = false"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaAlertSecondaryActionInfo
            :controlShow="controlShow"
            :label="label"
            :actionLabel="'ACTION'"
            @action="action()"
            @close="controlShow = false"
          />
        </v-col>

        <v-col cols="12" md="6">
          <TaAlertSecondaryActionSuccess
            :controlShow="controlShow"
            :label="label"
            :actionLabel="'ACTION'"
            @action="action()"
            @close="controlShow = false"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaAlertPrimaryError
            :controlShow="controlShow"
            :label="label"
          />
        </v-col>
        <v-col cols="12" md="6">
          <TaAlertPrimaryInfo
            :controlShow="controlShow"
            :label="label"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaAlertPrimarySuccess
            :controlShow="controlShow"
            :label="label"
          />
        </v-col>
        <v-col cols="12" md="6">
          <TaAlertSecondaryError
            :controlShow="controlShow"
            :label="label"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaAlertSecondaryInfo
            :controlShow="controlShow"
            :label="label"
          />
        </v-col>
        <v-col cols="12" md="6">
          <TaAlertSecondarySuccess
            :controlShow="controlShow"
            :label="label"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaAlertsPage',

  components: {
    TaAlertPrimaryActionError: () => import('@/components/taAlert/action/primary/TaAlertPrimaryActionError.vue'),
    TaAlertPrimaryActionInfo: () => import('@/components/taAlert/action/primary/TaAlertPrimaryActionInfo.vue'),
    TaAlertPrimaryActionSuccess: () => import('@/components/taAlert/action/primary/TaAlertPrimaryActionSuccess.vue'),

    TaAlertSecondaryActionError: () => import('@/components/taAlert/action/secondary/TaAlertSecondaryActionError.vue'),
    TaAlertSecondaryActionInfo: () => import('@/components/taAlert/action/secondary/TaAlertSecondaryActionInfo.vue'),
    TaAlertSecondaryActionSuccess: () => import('@/components/taAlert/action/secondary/TaAlertSecondaryActionSuccess.vue'),

    TaAlertPrimaryError: () => import('@/components/taAlert/alert/primary/TaAlertPrimaryError.vue'),
    TaAlertPrimaryInfo: () => import('@/components/taAlert/alert/primary/TaAlertPrimaryInfo.vue'),
    TaAlertPrimarySuccess: () => import('@/components/taAlert/alert/primary/TaAlertPrimarySuccess.vue'),

    TaAlertSecondaryError: () => import('@/components/taAlert/alert/secondary/TaAlertSecondaryError.vue'),
    TaAlertSecondaryInfo: () => import('@/components/taAlert/alert/secondary/TaAlertSecondaryInfo.vue'),
    TaAlertSecondarySuccess: () => import('@/components/taAlert/alert/secondary/TaAlertSecondarySuccess.vue'),
  },

  data() {
    return {
      label: 'Texto de alerta',
      controlShow: false,
    };
  },

  created() {
    setTimeout(() => {
      this.controlShow = true;
    }, 300);

    setTimeout(() => {
      this.controlShow = false;
    }, 8000);
  },

  methods: {
    action() {
      console.log('action');
    },

    close() {
      console.log('close');
    },
  },
};
</script>
