<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaProfiles</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaAvatar
            :avatarSize="40"
            :avatarType="'label'"
            :avatarLabel="'TA'"
          />
        </v-col>
        <v-col>
          <TaAvatar
            :avatarSize="40"
            :avatarType="'image'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
          />
        </v-col>
        <v-col>
          <TaAvatar
            :avatarSize="40"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaAvatar
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarType="'label'"
            :avatarLabel="'TA'"
          />
        </v-col>
        <v-col>
          <TaAvatar
            :type="'badgeType'"
            :profileStatus="'offline'"
            :avatarSize="40"
            :avatarType="'image'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
          />
        </v-col>
        <v-col>
          <TaAvatar
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarType="'image'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
           <TaAvatarDetail
            :avatarSize="40"
            :avatarType="'image'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarType="'label'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarLabel="'TA'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarType="'label'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarLabel="'TA'"
            :avatarSubtitle="'Cliente'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarType="'image'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarType="'image'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarType="'label'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarLabel="'TA'"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarType="'label'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarLabel="'TA'"
            :avatarSubtitle="'Cliente'"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarEdit="true"
            @profile-edit="profileEdit()"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
            :avatarEdit="true"
            @profile-edit="profileEdit()"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarType="'image'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
            :avatarEdit="true"
            @profile-edit="profileEdit()"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarType="'image'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
            :avatarEdit="true"
            @profile-edit="profileEdit()"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :avatarSize="40"
            :avatarType="'label'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarLabel="'TA'"
            :avatarEdit="true"
            @profile-edit="profileEdit()"
          />
        </v-col>
        <v-col>
          <TaAvatarDetail
            :type="'badgeType'"
            :profileStatus="'Online'"
            :avatarSize="40"
            :avatarType="'label'"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarLabel="'TA'"
            :avatarSubtitle="'Cliente'"
            :avatarEdit="true"
            @profile-edit="profileEdit()"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaAvatarPage',

  components: {
    TaAvatar: () => import('@/components/taAvatar/TaAvatar.vue'),
    TaAvatarDetail: () => import('@/components/taAvatar/TaAvatarDetail.vue'),
  },

  methods: {
    profileEdit() {
      console.log('edit profile');
    },
  },
};
</script>
