<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaAvaliation</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaAvaliation
            v-model="rating"
            :AvaliationSize="'30'"
            half-increments
            @input="input($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaAvaliation
            v-model="rating"
            @input="input($event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaAvaliationPage',

  components: {
    TaAvaliation: () => import('@/components/taAvaliation/TaAvaliation.vue'),
  },

  data() {
    return {
      rating: 3.5,
    };
  },

  methods: {
    input($event) {
      console.log($event);
    },
  },
};
</script>
