<template>
  <div class="pa-5">
    <v-card class="pa-5" color="transparent">
      <v-row>
        <v-col>
          <h3>TaBars</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaToolBar
            :menuItems="menuItems"
            :toolbarIcon="'mdi-menu'"
            :label="'Título da tela'"
            :iconPrimary="'mdi-bell'"
            @toolbar-icon="menu()"
            @primary-icon="eventMenu()"
            @select-menu="selectMenu($event)"
          />
        </v-col>
        <v-col>
          <TaToolBar
            :menuItems="menuItems"
            :toolbarIcon="'mdi-close'"
            :label="'Título da tela'"
            :iconPrimary="'mdi-magnify'"
            height="52"
            @toolbar-icon="menu()"
            @primary-icon="eventMenu()"
            @select-menu="selectMenu($event)"
            @blur="onInputValue(search)"
            v-on:keyup.enter="onInputValue(search)"
            v-model="search"
          />
        </v-col>
        <v-col>
          <TaToolBar
            :menuItems="menuItems"
            :toolbarIcon="'mdi-arrow-left'"
            :label="'Título da tela'"
            :iconPrimary="'mdi-share-variant'"
            @toolbar-icon="menu()"
            @primary-icon="eventMenu()"
            @select-menu="selectMenu($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
        <TaToolBar
            :menuItems="menuItems"
            :toolbarIcon="'mdi-arrow-left'"
            :label="'2 selecionados'"
            :iconPrimary="'mdi-delete'"
            @menu="menu()"
            @primaryIcon="eventMenu()"
            @select-menu="selectMenu($event)"
          />
        </v-col>
        <v-col>
          <TaTabBar
            v-model="value"
            :items="itemsPrimary"
            @select-item="selectItem($event)"
          />
        </v-col>
        <v-col>
          <TaTabBar
            v-model="value"
            :items="itemsSecondary"
            @select-item="selectItem($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaProgressBar
            :value="progressValue"
            v-model="progressValue"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaProgressBar
            :value="progressValue"
            v-model="progressValue"
            :percentageValue="progressValue"
            :percentage="percentage"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaSwitchBar
            v-model="taSwitchBarPrimary"
            @click="changeSwitch('taSwitchBarPrimary')"
            :input-value="taSwitchBarPrimary"
            :icon="'mdi-bell'"
            :title="'Ativar notificações'"
            :bgColor="'#ffffff'"
          />
        </v-col>

        <v-col cols="12" md="6">
          <TaSwitchBar
            v-model="taSwitchBarSecundary"
            @click="changeSwitch('taSwitchBarSecundary')"
            :input-value="taSwitchBarSecundary"
            :title="'Permitir geolocalização'"
            :subtitle="'Acessar localização do dispositivo'"
            :bgColor="'#ffffff'"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaAppToolbar
            :profile="profile"
            :title="title"
            :btnLabel="'sair'"
            @on-click="logout()"
            @navigate-drawer="drawer = !drawer"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaTopBarPage',

  components: {
    TaAppToolbar: () => import('@/components/taBar/TaAppToolbar.vue'),
    TaToolBar: () => import('@/components/taBar/TaToolBar.vue'),
    TaTabBar: () => import('@/components/taBar/TaTabBar.vue'),
    TaProgressBar: () => import('@/components/taBar/TaProgressBar.vue'),
    TaSwitchBar: () => import('@/components/taBar/TaSwitchBar.vue'),
  },

  data() {
    return {
      search: null,
      progressValue: 50,
      percentage: true,
      taSwitchBarPrimary: false,
      taSwitchBarSecundary: true,
      profile: {
        url: 'https://cdn.vuetifyjs.com/images/john.jpg',
        name: 'Tatiana Shmayluk',
      },
      title: 'Título da página',
      menuItems: [
        {
          title: 'Option 1',
        },
        {
          title: 'Option 2',
        },
      ],
      value: 1,
      itemsPrimary: [
        {
          title: 'Home',
          icon: 'mdi-home',
          value: 'Home',
        },
        {
          title: 'Busca',
          icon: 'mdi-magnify',
          value: 'Buscar',
        },
        {
          title: 'Agenda',
          icon: 'mdi-calendar-check',
          value: 'Agenda',
        },
        {
          title: 'Perfil',
          icon: 'mdi-account',
          value: 'Perfil',
        },
      ],

      itemsSecondary: [
        {
          title: 'item 1',
          icon: 'mdi-help-circle',
          value: 'Home',
        },
        {
          title: 'item 2',
          icon: 'mdi-help-circle',
          value: 'Buscar',
        },
        {
          title: 'item 3',
          icon: 'mdi-help-circle',
          value: 'Agenda',
        },
        {
          title: 'item 4',
          icon: 'mdi-help-circle',
          value: 'Perfil',
        },
      ],
    };
  },

  methods: {
    menu() {
      console.log('menu');
    },

    logout() {
      console.log('logout');
    },

    eventMenu() {
      console.log('event menu');
    },

    selectMenu($event) {
      console.log($event);
    },

    selectItem($event) {
      console.log($event);
    },

    changeSwitch($event) {
      this[$event] = !this[$event];
      console.log(this[$event]);
    },

    onInputValue(item) {
      console.log(item);
    },
  },
};
</script>
