<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaBreadcrumb</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBreadcrumb
            :items="items"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaBreadcrumbPage',

  components: {
    TaBreadcrumb: () => import('@/components/taBreadcrumb/TaBreadcrumb.vue'),
  },

  data() {
    return {
      items: [
        {
          text: 'Compra de VT',
          disabled: false,
          href: '/teste',
        },
        {
          text: 'Anteriores',
          disabled: false,
          href: '/teste',
        },
      ],
    };
  },

  methods: {
    input($event) {
      console.log($event);
    },
  },
};
</script>
