<template>
  <v-container class="ta-btnPage__wrapper" fluid>
    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnPrimary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnPrimaryLarge
            :label="'Button'"
            @click.native="taBtnPrimaryLarge()"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnPrimary
            :label="'Button'"
            @click.native="taBtnPrimary()"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnPrimarySmall
            :label="'Button'"
            @click.native="taBtnPrimarySmall()"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnPrimaryLarge
            :label="'Button'"
            :disabled="true"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnPrimary
            :label="'Button'"
            :disabled="true"
          />
        </v-col>
        <v-col cols="12" sm="6" md="2">
          <TaBtnPrimarySmall
            :label="'Button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnSecondary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnSecondaryLarge
            :label="'Button'"
            @click.native="taBtnSecondaryLarge()"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnSecondary
            :label="'Button'"
            @click.native="taBtnSecondary()"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnSecondarySmall
            :label="'Button'"
            @click.native="taBtnSecondarySmall()"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnSecondaryLarge
            :label="'Button'"
            :disabled="true"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnSecondary
            :label="'Button'"
            :disabled="true"
          />
        </v-col>
        <v-col cols="12" sm="4" md="2">
          <TaBtnSecondarySmall
            :label="'Button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnOutlinedLarge</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnOutlinedLarge
            :label="'Button'"
            @click.native="taBtnOutlinedLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnOutlined
            :label="'Button'"
            @click.native="taBtnOutlined()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnOutlinedSmall
            :label="'Button'"
            @click.native="taBtnOutlinedSmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnOutlinedLarge
            :label="'Button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnOutlined
            :label="'Button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnOutlinedSmall
            :label="'Button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnAddPrimary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnAddPrimaryLarge
            :label="'button'"
            @click.native="taBtnAddPrimaryLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddPrimary
            :label="'button'"
            @click.native="taBtnAddPrimary()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddPrimarySmall
            :label="'button'"
            @click.native="taBtnAddPrimarySmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddPrimaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddPrimary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddPrimarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnAddSecondary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnAddSecondaryLarge
            :label="'button'"
            @click.native="taBtnAddSecondaryLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddSecondary
            :label="'button'"
            @click.native="taBtnAddSecondary()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddSecondarySmall
            :label="'button'"
            @click.native="taBtnAddSecondarySmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddSecondaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddSecondary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddSecondarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnAddOutlined</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnAddOutlinedLarge
            :label="'button'"
            @click.native="taBtnAddOutlinedLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddOutlined
            :label="'button'"
            @click.native="taBtnAddOutlined()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddOutlinedSmall
            :label="'button'"
            @click.native="taBtnAddOutlinedSmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddOutlinedLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddOutlined
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnAddOutlinedSmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaAddLabeled</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <TaAddPrimaryLabeled
            :label="'Adicionar perfil'"
            @click.native="taAddPrimaryLabeled('Adicionar perfil')"
          />
        </v-col>

        <v-col cols="12" md="6">
          <TaAddSuccessLabeled
            :label="'Adicionar perfil'"
            @click.native="taAddSuccessLabeled('Adicionar perfil')"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnBackButton</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBtnBackButton
            :label="'Voltar'"
            @click.native="taBack()"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnDownloadIcon</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBtnDownloadIconPrimary
            @click.native="taBtnDownloadIconPrimary()"
          />
        </v-col>

        <v-col>
          <TaBtnDownloadIconSecondary
            @click.native="taBtnDownloadIconSecondary()"
          />
        </v-col>

        <v-col>
          <TaBtnDownloadIconSecondary
            :disabled="true"
          />
        </v-col>
        <v-col>
          <TaBtnDownloadIconOutlined
            @click.native="taBtnDownloadIconOutlined()"
          />
        </v-col>

        <v-col>
          <TaBtnDownloadIconOutlined
            :disabled="true"
          />
        </v-col>

        <v-col>
          <TaBtnDownloadIconDelete
            @click.native="taBtnDownloadIconDelete()"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnDownloadPrimary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadPrimaryLarge
            :label="'button'"
            @click.native="taBtnDownloadPrimaryLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadPrimary
            :label="'button'"
            @click.native="taBtnDownloadPrimary()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadPrimarySmall
            :label="'button'"
            @click.native="taBtnDownloadPrimarySmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadPrimaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadPrimary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadPrimarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnDownloadSecondary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadSecondaryLarge
            :label="'button'"
            @click.native="taBtnDownloadSecondaryLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadSecondary
            :label="'button'"
            @click.native="taBtnDownloadSecondary()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadSecondarySmall
            :label="'button'"
            @click.native="taBtnDownloadSecondarySmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadSecondaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadSecondary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadSecondarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnDownloadOutlined</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadOutlinedLarge
            :label="'button'"
            @click.native="taBtnDownloadOutlinedLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadOutlined
            :label="'button'"
            @click.native="taBtnDownloadOutlined()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadOutlinedSmall
            :label="'button'"
            @click.native="taBtnDownloadOutlinedSmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadOutlinedLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadOutlined
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnDownloadOutlinedSmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnRefreshPrimary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshPrimaryLarge
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshPrimary
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshPrimarySmall
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshPrimaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshPrimary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshPrimarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnRefreshSecondary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshSecondaryLarge
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshSecondary
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshSecondarySmall
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshSecondaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshSecondary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshSecondarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnRefreshOutlined</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshOutlinedLarge
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshOutlined
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshOutlinedSmall
            :label="'button'"
            @click.native="taBtnRefresh()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshOutlinedLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshOutlined
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnRefreshOutlinedSmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnDropDown</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBtnDropDownPrimary
            :items="taBtnDropDown"
            @select-item="taBtnDropDownPrimary($event)"
          />
        </v-col>

        <v-col>
          <TaBtnDropDownOutlined
            :items="taBtnDropDown"
            @select-item="taBtnDropDownPrimary($event)"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnFabLabeled</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBtnFabLabeledPrimary
            label="BUTTON"
            @click.native="taBtnFabLabelIconPrimary()"
          />
        </v-col>

        <v-col>
          <TaBtnFabLabeledSecondary
            label="BUTTON"
            @click.native="taBtnFabLabelIconSecondary()"
          />
        </v-col>

        <v-col>
          <TaBtnFabLabeledSecondary
            label="BUTTON"
            disabled
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnFab</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBtnFabPrimary
            @click.native="taBtnFabIconPrimary()"
          />
        </v-col>

        <v-col>
          <TaBtnFabSecondary
            @click.native="taBtnFabIconSecondary()"
          />
        </v-col>

        <v-col>
          <TaBtnFabSecondary
            disabled
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnGroup</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBtnGroupPrimary
            :items="taBtnGroup"
            v-model="toggle_multiplePrimary"
            @item-change="tabsPrimaryChange($event)"
          />
        </v-col>
        <v-col>
          <TaBtnGroupOutlined
            :items="taBtnGroup"
            v-model="toggle_multiple"
            @item-change="tabsOutlinedChange($event)"
          />
        </v-col>

        <v-col>
          <TaBtnGroupRounded
            :items="taBtnGroup"
            v-model="toggle_multiple"
            @item-change="tabsOutlinedChange($event)"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnNextPrimary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnNextPrimaryLarge
            :label="'button'"
            @click.native="taBtnNextPrimaryLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextPrimary
            :label="'button'"
            @click.native="taBtnNextPrimary()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextPrimarySmall
            :label="'button'"
            @click.native="taBtnNextPrimarySmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextPrimaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextPrimary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextPrimarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnNextSecondary</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnNextSecondaryLarge
            :label="'button'"
            @click.native="taBtnNextSecondaryLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextSecondary
            :label="'button'"
            @click.native="taBtnNextSecondary()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextSecondarySmall
            :label="'button'"
            @click.native="taBtnNextSecondarySmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextSecondaryLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextSecondary
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextSecondarySmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnNextOutlined</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" sm="4" md="2">
          <TaBtnNextOutlinedLarge
            :label="'button'"
            @click.native="taBtnNextOutlinedLarge()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextOutlined
            :label="'button'"
            @click.native="taBtnNextOutlined()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextOutlinedSmall
            :label="'button'"
            @click.native="taBtnNextOutlinedSmall()"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextOutlinedLarge
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextOutlined
            :label="'button'"
            :disabled="true"
          />
        </v-col>

        <v-col cols="12" sm="4" md="2">
          <TaBtnNextOutlinedSmall
            :label="'button'"
            :disabled="true"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaBtnUploadIcon</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaBtnUploadIconPrimary
            @click.native="taBtnUploadIconPrimary()"
          />
        </v-col>

        <v-col>
          <TaBtnUploadIconSecondary
            @click.native="taBtnUploadIconSecondary()"
          />
        </v-col>

        <v-col>
          <TaBtnUploadIconSecondary
            :disabled="true"
          />
        </v-col>
        <v-col>
          <TaBtnUploadIconOutlined
            @click.native="taBtnUploadIconOutlined()"
          />
        </v-col>

        <v-col>
          <TaBtnUploadIconOutlined
            :disabled="true"
          />
        </v-col>

        <v-col>
          <TaBtnUploadIconDelete
            @click.native="taBtnUploadIconDelete()"
          />
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: 'TaBtnPrimaryPage',

  components: {
    TaBtnPrimary: () => import('@/components/taButtons/taBtn/taBtnPrimary/TaBtnPrimary.vue'),
    TaBtnPrimarySmall: () => import('@/components/taButtons/taBtn/taBtnPrimary/TaBtnPrimarySmall.vue'),
    TaBtnPrimaryLarge: () => import('@/components/taButtons/taBtn/taBtnPrimary/TaBtnPrimaryLarge.vue'),
    TaBtnSecondary: () => import('@/components/taButtons/taBtn/taBtnSecondary/TaBtnSecondary.vue'),
    TaBtnSecondarySmall: () => import('@/components/taButtons/taBtn/taBtnSecondary/TaBtnSecondarySmall.vue'),
    TaBtnSecondaryLarge: () => import('@/components/taButtons/taBtn/taBtnSecondary/TaBtnSecondaryLarge.vue'),
    TaBtnOutlinedLarge: () => import('@/components/taButtons/taBtn/tabtnOutlined/TaBtnOutlinedLarge.vue'),
    TaBtnOutlined: () => import('@/components/taButtons/taBtn/tabtnOutlined/TaBtnOutlined.vue'),
    TaBtnOutlinedSmall: () => import('@/components/taButtons/taBtn/tabtnOutlined/TaBtnOutlinedSmall.vue'),

    TaBtnAddPrimaryLarge: () => import('@/components/taButtons/taBtnAdd/taBtnAddPrimary/TaBtnAddPrimaryLarge.vue'),
    TaBtnAddPrimary: () => import('@/components/taButtons/taBtnAdd/taBtnAddPrimary/TaBtnAddPrimary.vue'),
    TaBtnAddPrimarySmall: () => import('@/components/taButtons/taBtnAdd/taBtnAddPrimary/TaBtnAddPrimarySmall.vue'),
    TaBtnAddSecondaryLarge: () => import('@/components/taButtons/taBtnAdd/taBtnAddSecondary/TaBtnAddSecondaryLarge.vue'),
    TaBtnAddSecondary: () => import('@/components/taButtons/taBtnAdd/taBtnAddSecondary/TaBtnAddSecondary.vue'),
    TaBtnAddSecondarySmall: () => import('@/components/taButtons/taBtnAdd/taBtnAddSecondary/TaBtnAddSecondarySmall.vue'),
    TaBtnAddOutlinedLarge: () => import('@/components/taButtons/taBtnAdd/tabtnAddOutlined/TaBtnAddOutlinedLarge.vue'),
    TaBtnAddOutlined: () => import('@/components/taButtons/taBtnAdd/tabtnAddOutlined/TaBtnAddOutlined.vue'),
    TaBtnAddOutlinedSmall: () => import('@/components/taButtons/taBtnAdd/tabtnAddOutlined/TaBtnAddOutlinedSmall.vue'),
    TaAddPrimaryLabeled: () => import('@/components/taButtons/taBtnAdd/taBtnAddLabeled/TaAddPrimaryLabeled.vue'),
    TaAddSuccessLabeled: () => import('@/components/taButtons/taBtnAdd/taBtnAddLabeled/TaAddSuccessLabeled.vue'),

    TaBtnBackButton: () => import('@/components/taButtons/taBtnBackButton/TaBtnBackButton.vue'),

    TaBtnDownloadIconPrimary: () => import('@/components/taButtons/taBtnDownloadIcon/TaBtnDownloadIconPrimary.vue'),
    TaBtnDownloadIconSecondary: () => import('@/components/taButtons/taBtnDownloadIcon/TaBtnDownloadIconSecondary.vue'),
    TaBtnDownloadIconDelete: () => import('@/components/taButtons/taBtnDownloadIcon/TaBtnDownloadIconDelete.vue'),
    TaBtnDownloadIconOutlined: () => import('@/components/taButtons/taBtnDownloadIcon/TaBtnDownloadIconOutlined.vue'),

    TaBtnDownloadPrimaryLarge: () => import('@/components/taButtons/taBtnDownload/taBtnDownloadPrimary/TaBtnDownloadPrimaryLarge.vue'),
    TaBtnDownloadPrimary: () => import('@/components/taButtons/taBtnDownload/taBtnDownloadPrimary/TaBtnDownloadPrimary.vue'),
    TaBtnDownloadPrimarySmall: () => import('@/components/taButtons/taBtnDownload/taBtnDownloadPrimary/TaBtnDownloadPrimarySmall.vue'),
    TaBtnDownloadSecondaryLarge: () => import('@/components/taButtons/taBtnDownload/taBtnDownloadSecondary/TaBtnDownloadSecondaryLarge.vue'),
    TaBtnDownloadSecondary: () => import('@/components/taButtons/taBtnDownload/taBtnDownloadSecondary/TaBtnDownloadSecondary.vue'),
    TaBtnDownloadSecondarySmall: () => import('@/components/taButtons/taBtnDownload/taBtnDownloadSecondary/TaBtnDownloadSecondarySmall.vue'),
    TaBtnDownloadOutlinedLarge: () => import('@/components/taButtons/taBtnDownload/tabtnDownloadOutlined/TaBtnDownloadOutlinedLarge.vue'),
    TaBtnDownloadOutlined: () => import('@/components/taButtons/taBtnDownload/tabtnDownloadOutlined/TaBtnDownloadOutlined.vue'),
    TaBtnDownloadOutlinedSmall: () => import('@/components/taButtons/taBtnDownload/tabtnDownloadOutlined/TaBtnDownloadOutlinedSmall.vue'),

    TaBtnRefreshPrimaryLarge: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshPrimary/TaBtnRefreshPrimaryLarge.vue'),
    TaBtnRefreshPrimary: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshPrimary/TaBtnRefreshPrimary.vue'),
    TaBtnRefreshPrimarySmall: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshPrimary/TaBtnRefreshPrimarySmall.vue'),
    TaBtnRefreshSecondaryLarge: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshSecondary/TaBtnRefreshSecondaryLarge.vue'),
    TaBtnRefreshSecondary: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshSecondary/TaBtnRefreshSecondary.vue'),
    TaBtnRefreshSecondarySmall: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshSecondary/TaBtnRefreshSecondarySmall.vue'),
    TaBtnRefreshOutlinedLarge: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshOutlined/TaBtnRefreshOutlinedLarge.vue'),
    TaBtnRefreshOutlined: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshOutlined/TaBtnRefreshOutlined.vue'),
    TaBtnRefreshOutlinedSmall: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshOutlined/TaBtnRefreshOutlinedSmall.vue'),

    TaBtnDropDownPrimary: () => import('@/components/taButtons/taBtnDropDown/TaBtnDropDownPrimary.vue'),
    TaBtnDropDownOutlined: () => import('@/components/taButtons/taBtnDropDown/TaBtnDropDownOutlined.vue'),

    TaBtnFabPrimary: () => import('@/components/taButtons/taBtnFab/icon/TaBtnFabPrimary.vue'),
    TaBtnFabSecondary: () => import('@/components/taButtons/taBtnFab/icon/TaBtnFabSecondary.vue'),
    TaBtnFabLabeledPrimary: () => import('@/components/taButtons/taBtnFab/labeled/TaBtnFabLabeledPrimary.vue'),
    TaBtnFabLabeledSecondary: () => import('@/components/taButtons/taBtnFab/labeled/TaBtnFabLabeledSecondary.vue'),

    TaBtnGroupPrimary: () => import('@/components/taButtons/taBtnGroup/TaBtnGroupPrimary.vue'),
    TaBtnGroupOutlined: () => import('@/components/taButtons/taBtnGroup/TaBtnGroupOutlined.vue'),
    TaBtnGroupRounded: () => import('@/components/taButtons/taBtnGroup/TaBtnGroupRounded.vue'),

    TaBtnNextPrimary: () => import('@/components/taButtons/taBtnNext/taBtnNextPrimary/TaBtnNextPrimary.vue'),
    TaBtnNextPrimaryLarge: () => import('@/components/taButtons/taBtnNext/taBtnNextPrimary/TaBtnNextPrimaryLarge.vue'),
    TaBtnNextPrimarySmall: () => import('@/components/taButtons/taBtnNext/taBtnNextPrimary/TaBtnNextPrimarySmall.vue'),
    TaBtnNextSecondary: () => import('@/components/taButtons/taBtnNext/taBtnNextSecondary/TaBtnNextSecondary.vue'),
    TaBtnNextSecondarySmall: () => import('@/components/taButtons/taBtnNext/taBtnNextSecondary/TaBtnNextSecondarySmall.vue'),
    TaBtnNextSecondaryLarge: () => import('@/components/taButtons/taBtnNext/taBtnNextSecondary/TaBtnNextSecondaryLarge.vue'),
    TaBtnNextOutlinedLarge: () => import('@/components/taButtons/taBtnNext/tabtnNextOutlined/TaBtnNextOutlinedLarge.vue'),
    TaBtnNextOutlined: () => import('@/components/taButtons/taBtnNext/tabtnNextOutlined/TaBtnNextOutlined.vue'),
    TaBtnNextOutlinedSmall: () => import('@/components/taButtons/taBtnNext/tabtnNextOutlined/TaBtnNextOutlinedSmall.vue'),

    TaBtnUploadIconPrimary: () => import('@/components/taButtons/taBtnUploadIcon/TaBtnUploadIconPrimary.vue'),
    TaBtnUploadIconSecondary: () => import('@/components/taButtons/taBtnUploadIcon/TaBtnUploadIconSecondary.vue'),
    TaBtnUploadIconDelete: () => import('@/components/taButtons/taBtnUploadIcon/TaBtnUploadIconDelete.vue'),
    TaBtnUploadIconOutlined: () => import('@/components/taButtons/taBtnUploadIcon/TaBtnUploadIconOutlined.vue'),
  },

  data() {
    return {
      taBtnDropDown: [
        { title: 'Click Me 1' },
        { title: 'Click Me 2' },
        { title: 'Click Me 3' },
        { title: 'Click Me 4' },
      ],

      fabIconLabelContnet: {
        height: 50,
        label: 'BUTTON',
      },

      toggle_multiplePrimary: [],
      toggle_multiple: [],
      taBtnGroup: [
        {
          label: 'Button 1',
          disabled: false,
        },
        {
          label: 'Button',
          disabled: false,
        },
        {
          label: 'Button',
          disabled: false,
        },
      ],
    };
  },

  methods: {
    taBtnPrimaryLarge() {
      console.log('TaBtnPrimaryLarge');
    },

    taBtnPrimary() {
      console.log('TaBtnPrimary');
    },

    taBtnPrimarySmall() {
      console.log('TaBtnPrimarySmall');
    },

    taBtnSecondaryLarge() {
      console.log('taBtnSecondaryLarge');
    },

    taBtnSecondary() {
      console.log('taBtnSecondary');
    },

    taBtnSecondarySmall() {
      console.log('taBtnSecondarySmall');
    },

    taBtnOutlinedLarge() {
      console.log('TaBtnOutlinedLarge');
    },

    taBtnOutlined() {
      console.log('TaBtnOutlined');
    },

    taBtnOutlinedSmall() {
      console.log('taBtnOutlinedSmall');
    },

    taBtnAddPrimaryLarge() {
      console.log('TaBtnAddPrimaryLarge');
    },

    taBtnAddPrimary() {
      console.log('TaBtnAddPrimary');
    },

    taBtnAddPrimarySmall() {
      console.log('TaBtnAddPrimarySmall');
    },

    taBtnAddSecondaryLarge() {
      console.log('TaBtnAddSecondaryLarge');
    },

    taBtnAddSecondary() {
      console.log('TaBtnAddSecondary');
    },

    taBtnAddSecondarySmall() {
      console.log('TaBtnAddSecondarySmall');
    },

    taBtnAddOutlinedLarge() {
      console.log('TaBtnAddOutlinedLarge');
    },

    taBtnAddOutlined() {
      console.log('TaBtnAddOutlined');
    },

    taBtnAddOutlinedSmall() {
      console.log('TaBtnAddOutlinedSmall');
    },

    taBack() {
      console.log('Return');
    },

    taBtnDownloadIconPrimary() {
      console.log('TaBtnDownloadIconPrimary');
    },
    taBtnDownloadIconSecondary() {
      console.log('TaBtnDownloadIconSecondary');
    },
    taBtnDownloadIconOutlined() {
      console.log('TaBtnDownloadIconOutlined');
    },
    taBtnDownloadIconDelete() {
      console.log('TaBtnDownloadIconDelete');
    },

    taBtnDownloadPrimaryLarge() {
      console.log('TaBtnDownloadPrimaryLarge');
    },

    taBtnDownloadPrimary() {
      console.log('TaBtnDownloadPrimary');
    },

    taBtnDownloadPrimarySmall() {
      console.log('TaBtnDownloadPrimarySmall');
    },

    taBtnDownloadSecondaryLarge() {
      console.log('TaBtnDownloadSecondaryLarge');
    },

    taBtnDownloadSecondary() {
      console.log('TaBtnDownloadSecondary');
    },

    taBtnDownloadSecondarySmall() {
      console.log('TaBtnDownloadSecondarySmall');
    },

    taBtnDownloadOutlinedLarge() {
      console.log('TaBtnDownloadOutlinedLarge');
    },

    taBtnDownloadOutlined() {
      console.log('TaBtnDownloadOutlined');
    },

    taBtnDownloadOutlinedSmall() {
      console.log('TaBtnDownloadOutlinedSmall');
    },

    taBtnDropDownPrimary($event) {
      console.log($event);
    },

    taBtnDropDownOutlined($event) {
      console.log($event);
    },

    taBtnFabIconPrimary() {
      console.log('TaBtnFabPrimary');
    },

    taBtnFabIconSecondary() {
      console.log('TaBtnFabSecondary');
    },

    taBtnFabLabelIconPrimary() {
      console.log('taBtnFabLabelIconPrimary');
    },

    taBtnFabLabelIconSecondary() {
      console.log('TaBtnFabLabeledSecondary');
    },

    tabsPrimaryChange($event) {
      console.log($event);
    },
    tabsOutlinedChange($event) {
      console.log($event);
    },
    taBtnTabsRoundedChange($event) {
      console.log($event);
    },

    taBtnNextPrimaryLarge() {
      console.log('taBtnNextPrimaryLarge');
    },

    taBtnNextPrimary() {
      console.log('taBtnNextPrimary');
    },

    taBtnNextPrimarySmall() {
      console.log('taBtnNextPrimarySmall');
    },

    taBtnNextSecondaryLarge() {
      console.log('taBtnNextSecondaryLarge');
    },

    taBtnNextSecondary() {
      console.log('taBtnNextSecondary');
    },

    taBtnNextSecondarySmall() {
      console.log('taBtnNextSecondarySmall');
    },

    taBtnNextOutlinedLarge() {
      console.log('taBtnNextOutlinedLarge');
    },

    taBtnNextOutlined() {
      console.log('taBtnNextOutlined');
    },

    taBtnNextOutlinedSmall() {
      console.log('taBtnNextOutlinedSmall');
    },

    taBtnUploadIconPrimary() {
      console.log('TaBtnUploadIconPrimary');
    },
    taBtnUploadIconSecondary() {
      console.log('TaBtnUploadIconSecondary');
    },
    taBtnUploadIconOutlined() {
      console.log('TaBtnUploadIconOutlined');
    },
    taBtnUploadIconDelete() {
      console.log('TaBtnUploadIconDelete');
    },
    taAddPrimaryLabeled(item) {
      console.log(item);
    },
    taAddSucessLabeled(item) {
      console.log(item);
    },

    taBtnRefresh() {
      console.log('taBtnRefresh');
    },
  },
};
</script>

<style lang="scss" scoped>
.ta-btnPage__wrapper {
  .v-card {
    &.theme--dark {
      background-color: #1A1E2E;
    }
  }
}
</style>
