<template>
  <div class="pa-5">
    <v-card class="pa-5" color="transparent">
      <v-row>
        <v-col>
          <h3>TaCards</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col md="6">
          <TaCard
            :code="'Serviço # 5562'"
            :title="'Conserto de pia'"
            :type="'Residencial'"
            :description="'Sifão da pia da cozinha está com vazamento.'"
            :action="'Detalhes'"
            outlined
            @action="detail($event)"
          />
        </v-col>

      <v-col md="6">
        <TaCard
          :code="'Serviço # 5562'"
          :title="'Conserto de pia'"
          :type="'Residencial'"
          :description="'Sifão da pia da cozinha está com vazamento.'"
          :action="'Detalhes'"
          :chip="'Emergencial'"
          :colorChip="'red'"
          @action="detail($event)"
        />
      </v-col>
    </v-row>

      <v-row>
        <v-col>
          <TaCard
            :code="'Serviço # 5562'"
            :title="'Conserto de pia'"
            :type="'Residencial'"
            :description="'Sifão da pia da cozinha está com vazamento.'"
            :action="'Detalhes'"
            :chip="'Emergencial'"
            :colorChip="'red'"
            @action="detail($event)"
          />
        </v-col>

        <v-col>
          <TaCard
            :code="'Serviço # 5562'"
            :title="'Conserto de pia'"
            :type="'Residencial'"
            :description="'Sifão da pia da cozinha está com vazamento.'"
            :action="'Detalhes'"
            :chip="'Emergencial'"
            :colorChip="'red'"
            @action="detail($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6" xl="3">
          <TaCardInfo
            :avatarType="'image'"
            :avatarImage="'https://cdn.vuetifyjs.com/images/john.jpg'"
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
            :title="'Conserto de pia'"
            :code="'#05562'"
          />
        </v-col>

        <v-col cols="12" md="6" xl="3">
          <TaCardDetail
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
            :title="'Conserto de pia'"
            :code="'#05562'"
            :labelBtn="'Detalhes'"
            @click.native="detail('TaCardDetail')"
          />
        </v-col>

        <v-col cols="12" md="6" xl="3">
          <TaCardDetailSecundary
            :avatarSize="40"
            :avatarTitle="'Tatiana Shmayluk'"
            :avatarSubtitle="'Cliente'"
            :title="'Conserto de pia '"
            :code="'#05562'"
            :description="'Sifão da pia da cozinha está com vazamento.'"
            :labelBtn="'Detalhes'"
            :subtitle="'Residencia'"
            @click.native="detail('TaCardDetailSecundary')"
          />
        </v-col>

        <v-col cols="12" md="6" xl="3">
          <TaCardDetailSeal
            :title="'Conserto de pia '"
            :subtitle="'Residencia'"
            :code="'#05562'"
            :description="'Sifão da pia da cozinha está com vazamento.'"
            :labelBtn="'Detalhes'"
            :chip="'Emergencial'"
            :colorChip="'red'"
            @click.native="detail('TaCardDetailSeal')"
          />
        </v-col>
      </v-row>

      <v-row class="d-flex flex-wrap">
        <v-col sm="12" md="6" lg="4">
          <TaCardOption
            :items="itemsCardOption"
            @selectItem="selectCardOption($event)"
          />
        </v-col>

        <v-col sm="12" md="6" lg="4">
          <TaCardOptionGroup
            :title="'O veículo se encontra no subsolo?'"
            :items="taBtnGroup"
            v-model="toggle_multiple"
            @item-change="tabsPrimaryChange($event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCardPage',

  components: {
    TaCard: () => import('@/components/taCards/taCard/TaCard.vue'),
    TaCardInfo: () => import('@/components/taCards/taCard/TaCardInfo.vue'),
    TaCardDetail: () => import('@/components/taCards/taCard/TaCardDetail.vue'),
    TaCardDetailSecundary: () => import('@/components/taCards/taCard/TaCardDetailSecundary.vue'),
    TaCardDetailSeal: () => import('@/components/taCards/taCard/TaCardDetailSeal.vue'),
    TaCardOption: () => import('@/components/taCards/taCardOption/TaCardOption.vue'),
    TaCardOptionGroup: () => import('@/components/taCards/taCardOption/TaCardOptionGroup.vue'),
  },

  data() {
    return {
      itemTaCardStatus: {
        code: 'Serviço # 5562',
        title: 'Conserto de pia',
        type: 'Residencial',
        description: 'Sifão da pia da cozinha está com vazamento.',
        action: 'Detalhes',
        chip: 'Emergencial',
        colorChip: 'red',
      },
      itemsCardOption: [
        {
          icon: 'mdi-credit-card',
          label: 'Cartão de Credito',
        },
        {
          label: 'Pix',
          image: 'iconPix.svg',
        },
        {
          icon: 'mdi-help-circle',
          label: 'Opções',
        },
      ],
      toggle_multiple: [],
      taBtnGroup: [
        {
          label: 'SIM',
          disabled: false,
          id: 0,
        },
        {
          label: 'NÃO',
          disabled: false,
          id: 1,
        },
      ],
    };
  },

  methods: {
    detail($event) {
      console.log($event);
    },

    tabsPrimaryChange($event) {
      console.log($event);
    },

    selectCardOption($event) {
      console.log($event);
    },
  },
};
</script>
