<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaCheckbox</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaCheckboxPrimary
            v-model="primaryCheckbox"
            label='Checkbox'
            @click="changeCheckbox('primaryCheckbox')"
            :input-value="primaryCheckbox"
          />
        </v-col>

        <v-col>
          <TaCheckboxPrimary
            v-model="primaryCheckboxDisabled"
            label='Checkbox'
            :disabled="true"
            :input-value="primaryCheckboxDisabled"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaCheckboxSecundary
            v-model="secundaryCheckbox"
            label='Checkbox'
            :input-value="secundaryCheckbox"
            @click="changeCheckbox('secundaryCheckbox')"
          />
        </v-col>

        <v-col>
          <TaCheckboxSecundary
            v-model="secundaryCheckboxDisabled"
            label='Checkbox'
            :disabled="true"
            :input-value="secundaryCheckboxDisabled"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCheckboxPage',

  components: {
    TaCheckboxPrimary: () => import('@/components/taCheckbox/TaCheckboxPrimary.vue'),
    TaCheckboxSecundary: () => import('@/components/taCheckbox/TaCheckboxSecundary.vue'),
  },

  data() {
    return {
      primaryCheckbox: true,
      secundaryCheckbox: true,
      primaryCheckboxDisabled: true,
      secundaryCheckboxDisabled: true,
    };
  },

  methods: {
    changeCheckbox($event) {
      this[$event] = !this[$event];
      console.log(this[$event]);
    },
  },
};
</script>
