<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaChip</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaChip
            :label="'Chip'"
          />
        </v-col>
        <v-col>
          <TaChip
            v-if="taChip"
            :label="'Chip'"
            close
            @click:close="taChip = false"
          />
        </v-col>
        <v-col>
          <TaChipPrimary
            :label="'Chip'"
          />
        </v-col>
        <v-col>
          <TaChipPrimary
            v-if="taChipPrimary"
            :label="'Chip'"
            close
            @click:close="taChipPrimary = false"
          />
        </v-col>
        <v-col>
          <TaChipSecondary
            :label="'Chip'"
          />
        </v-col>
        <v-col>
          <TaChipSecondary
            v-if="taChipSecondary"
            :label="'Chip'"
            close
            @click:close="taChipSecondary = false"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaChipOutlined
            :label="'Chip'"
          />
        </v-col>
        <v-col>
          <TaChipOutlined
            v-if="taChipOutlined"
            :label="'Chip'"
            close
            @click:close="taChipOutlined = false"
          />
        </v-col>
        <v-col>
          <TaChipPrimaryOutlined
            :label="'Chip'"
          />
        </v-col>
        <v-col>
          <TaChipPrimaryOutlined
            v-if="taChipPrimaryOutlined"
            :label="'Chip'"
            close
            @click:close="taChipPrimaryOutlined = false"
          />
        </v-col>
        <v-col>
          <TaChipSecondaryOutlined
            :label="'Chip'"
          />
        </v-col>
        <v-col>
          <TaChipSecondaryOutlined
            v-if="taChipSecondaryOutlined"
            :label="'Chip'"
            close
            @click:close="taChipSecondaryOutlined = false"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaChipPage',

  components: {
    TaChip: () => import('@/components/taChip/chip/TaChip.vue'),
    TaChipPrimary: () => import('@/components/taChip/primary/TaChipPrimary.vue'),
    TaChipSecondary: () => import('@/components/taChip/secondary/TaChipSecondary.vue'),
    TaChipOutlined: () => import('@/components/taChip/chip/TaChipOutlined.vue'),
    TaChipPrimaryOutlined: () => import('@/components/taChip/primary/TaChipPrimaryOutlined.vue'),
    TaChipSecondaryOutlined: () => import('@/components/taChip/secondary/TaChipSecondaryOutlined.vue'),
  },

  data() {
    return {
      taChip: true,
      taChipPrimary: true,
      taChipSecondary: true,
      taChipOutlined: true,
      taChipPrimaryOutlined: true,
      taChipSecondaryOutlined: true,
    };
  },

  methods: {
    close() {
      console.log('Close');
    },
  },
};
</script>
