<template>
  <div>
    <v-row>
      <v-col>
        <v-btn
          class="mr-5"
          color="primary"
          elevation="0"
          dark
          @click="openDialog()"
        >
          Open Datepicker
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="6">
        <TaDatepicker
          :dialog="dialog"
          :valueDate="value"
          :firstDay="0"
          :weekOnlyProps="false"
          :nowDateProps="false"
          :disabled="false"
          :readonly="false"
          :locale="'pt-BR'"
          :formatDate="'DD/MM/YYYY'"
          @onChangeDate="[setDate({
            key: 'datepicker',
            value: $event
          }),
          dialog = false]"
          @cancelPicker="dialog = false"
        />
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'TaDatepickerPage',

  components: {
    TaDatepicker: () => import('@/components/taDatepicker/TaDatepicker.vue'),
  },

  data() {
    return {
      dialog: false,
      value:
      (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
    };
  },

  methods: {
    setDate(e) {
      console.log(e);
    },

    openDialog() {
      this.dialog = true;
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
