<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaDialogs</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col class="d-flex align-center justify-md-center" cols="6" md="2">
          <v-btn
            color="primary"
            elevation="0"
            dark
            @click="dialog = true"
          >
            Primary
          </v-btn>
        </v-col>
        <v-col class="d-flex align-center" cols="6" md="2">
          <v-btn
            color="primary"
            dark
            elevation="0"
            @click="secundaryDialog = true"
          >
            Secundary
          </v-btn>
        </v-col>
        <v-col class="d-flex align-center" cols="6" md="2">
          <v-btn
            color="primary"
            elevation="0"
            dark
            @click="dialogThird = true"
          >
            Error
          </v-btn>
        </v-col>
        <v-col class="d-flex align-center" cols="6" md="2">
          <v-btn
            color="primary"
            dark
            elevation="0"
            @click="dialogParcel = true"
          >
            Currency List
          </v-btn>
        </v-col>
        <v-col class="d-flex align-center" cols="6" md="2">
          <v-btn
            color="primary"
            dark
            elevation="0"
            @click="dialogList = true"
          >
            List
          </v-btn>
        </v-col>
        <v-col class="d-flex align-center" cols="6" md="2">
          <v-btn
            color="primary"
            dark
            elevation="0"
            @click="dialogSlot = true"
          >
            Slot
          </v-btn>
        </v-col>
      </v-row>

      <TaDialogConfirmation
        v-model="dialog"
        :title="'Usar geolocalização'"
        :description="'Você permite que esse site acesse a localização atual do seu dispositivo?'"
        :confirmLabel="'Permitir'"
        :cancelLabel="'Não permitir'"
        :columnButton="true"
        @primary-button="dialog = false"
        @secundary-button="dialog = false"
      />

      <TaDialogConfirmation
        v-model="secundaryDialog"
        :title="'Excluir essa foto?'"
        :description="'Tem certea que deseja excluir essa foto? Essa ação não poderá ser desfeita'"
        :confirmLabel="'Sim'"
        :cancelLabel="'Não'"
        @primary-button="secundaryDialog = false"
        @secundary-button="secundaryDialog = false"
      />

      <TaDialogList
        v-model="dialogParcel"
        persistent
        width="310"
        :title="'Pagar em quantas vezes?'"
        :items="dialogParcelItems"
        :dialogCurrency="true"
        @close-modal="dialogParcel = false"
        @select-item="selectParcel($event)"
      />

      <TaDialogList
        v-model="dialogList"
        persistent
        width="310"
        :title="'List Title'"
        :items="dialogListItems"
        @close-modal="dialogList = false"
        @select-item="selectParcel($event)"
      />

      <TaDialogSlot
        v-model="dialogSlot"
        persistent
        width="310"
        :dialogHeader="dialogHeader"
        @close-modal="dialogSlot = false"
      >
        <template
          v-slot:content
        >
          <div>
            <h1>slot content</h1>
          </div>
        </template>
      </TaDialogSlot>

      <TaDialogConfirmation
        v-model="dialogThird"
        :title="'Ops, algo deu errado'"
        :description="thirdDescription"
        :confirmLabel="'TENTAR NOVAMENTE'"
        :columnButton="true"
        :closeOption="true"
        :titleClass="'title_error'"
        @primary-button="dialogThird = false"
        @close="dialogThird = false"
      />
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'PaginationPage',

  components: {
    TaDialogConfirmation: () => import('@/components/taDialog/TaDialogConfirmation.vue'),
    TaDialogList: () => import('@/components/taDialog/TaDialogList.vue'),
    TaDialogSlot: () => import('@/components/taDialog/TaDialogSlot.vue'),
  },

  data() {
    return {
      dialog: false,
      secundaryDialog: false,
      dialogThird: false,
      dialogParcel: false,
      dialogList: false,
      dialogSlot: false,
      thirdDescription: 'O arquivo que você tentou enviar é inválido.Ele precisa estar em uma das extensões abaixo:.xlsx, .xls ou .xlsm',
      dialogParcelItems: [
        {
          parcel: 1,
          price: 169.00,
        },
        {
          parcel: 2,
          price: 84.95,
        },
        {
          parcel: 3,
          price: 56.63,
        },
      ],
      dialogListItems: [
        {
          text: 'Texto 1',
        },
        {
          text: 'Texto 2',
        },
        {
          text: 'Texto 3',
        },
        {
          text: 'Texto 4',
        },
      ],
      dialogHeader: {
        dialogTitle: 'Dialog Title',
        closeIcon: 'mdi-close',
        iconColor: 'primary',
        titleColor: '#2E4055',
      },
    };
  },

  methods: {
    submit() {
      console.log('submit');
    },

    selectParcel($event) {
      console.log($event);
    },
  },
};
</script>
