<template>
  <div class="pa-5">
    <v-card class="pa-5" color="transparent">
      <v-row>
        <v-col>
          <h3>TaListInfo</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col md="6">
          <TaListInfo
            :items="items"
            @edit-item="edit($event)"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col md="3">
          <TaListInfo
            :items="items"
            @edit-item="edit($event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaListInfoPage',

  components: {
    TaListInfo: () => import('@/components/taListInfo/TaListInfo.vue'),
  },

  data() {
    return {
      items: [
        { title: 'Nome', text: 'Tatiana Shmayluk', icon: 'mdi-pencil' },
        { title: 'E-mail', text: 'tati_booya@gmail.com', icon: 'mdi-pencil' },
        { title: 'Telefone', text: '11999999998', icon: 'mdi-pencil' },
      ],
    };
  },

  methods: {
    edit($event) {
      console.log($event);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/scss/_global.scss';

</style>
