<template>
  <div class="pa-5 pa-md-15">
    <TaLocation
      @onInputValue="onInputValue($event)"
      @select-item="selectItem($event)"
      :locationItems="locationItems"
    />
  </div>
</template>

<script>
export default {
  name: 'TaRoutePage',

  components: {
    TaLocation: () => import('@/components/taLocation/TaLocation.vue'),
  },

  data() {
    return {
      locationItems: [
        {
          street: 'Rua Emilio Pedutti',
          district: 'Morumbi',
          state: 'São Paulo',
          acronym: 'SP',
        },
        {
          street: 'Rua Emilio Pestana',
          district: 'Vila Claudia',
          state: 'São Paulo',
          acronym: 'SP',
        },
      ],
    };
  },

  methods: {
    onInputValue($event) {
      console.log($event);
    },

    selectItem($event) {
      console.log($event);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
