<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaLoader</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaLoaderPrimaryLarge/>
        </v-col>
        <v-col>
          <TaLoaderPrimary/>
        </v-col>
        <v-col>
          <TaLoaderPrimarySmall/>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaLoaderSecondaryLarge/>
        </v-col>
        <v-col>
          <TaLoaderSecondary/>
        </v-col>
        <v-col>
          <TaLoaderSecondarySmall/>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaLoaderPage',

  components: {
    TaLoaderPrimarySmall: () => import('@/components/taLoader/primary/TaLoaderPrimarySmall.vue'),
    TaLoaderPrimary: () => import('@/components/taLoader/primary/TaLoaderPrimary.vue'),
    TaLoaderPrimaryLarge: () => import('@/components/taLoader/primary/TaLoaderPrimaryLarge.vue'),
    TaLoaderSecondarySmall: () => import('@/components/taLoader/secondary/TaLoaderSecondarySmall.vue'),
    TaLoaderSecondary: () => import('@/components/taLoader/secondary/TaLoaderSecondary.vue'),
    TaLoaderSecondaryLarge: () => import('@/components/taLoader/secondary/TaLoaderSecondaryLarge.vue'),
  },
};
</script>
