<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaRadioButton</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaRadioButton
            v-model="radioGroup"
            row
            :items="items"
            @change-radio="changeRadio($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaRadioButton
            v-model="radioGroupSecundary"
            disabled
            :items="items"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaRadioButtonPage',

  components: {
    TaRadioButton: () => import('@/components/taRadioButton/TaRadioButton.vue'),
  },

  data() {
    return {
      radioGroup: 0,
      radioGroupSecundary: 1,
      items: [
        {
          label: 'Radio 1',
          value: 0,
        },

        {
          label: 'Radio 2',
          value: 1,
        },
      ],
    };
  },

  methods: {
    changeRadio($event) {
      console.log($event);
    },
  },
};
</script>
