<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaSelection</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <TaSelect
            v-model="selectModel"
            item-text="value"
            item-value="key"
            label="Cidade"
            :items="items"
            @change="selectChange(selectModel)"
          />
        </v-col>
        <v-col cols="12" md="4">
          <TaSelectMultiple
            v-model="selectModelMult"
            label="Cidade"
            item-text="value"
            item-value="key"
            :items="items"
            @change="selectChange(selectModelMult)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaSelectPage',

  components: {
    TaSelect: () => import('@/components/taSelect/TaSelect.vue'),
    TaSelectMultiple: () => import('@/components/taSelect/TaSelectMultiple.vue'),
  },

  data() {
    return {
      selectModel: null,
      selectModelMult: null,
      items: [
        {
          key: 0, value: 'São Lourenço da Serra',
        },
        {
          key: 1, value: 'São Luiz do Paraitinga',
        },
        {
          key: 2, value: 'São Manuel',
        },
        {
          key: 3, value: 'São Miguel Arcanjo',
        },
        {
          key: 4, value: 'São Paulo',
        },
        {
          key: 5, value: 'São Pedro',
        },
        {
          key: 6, value: 'São Roque',
        },
        {
          key: 7, value: 'São Sebastião',
        },
      ],
    };
  },

  methods: {
    selectChange(item) {
      console.log(item);
    },
  },

};
</script>
