<template>
  <div class="pa-5">
    <v-card class="pa-5">
       <v-row>
        <v-col>
          <h3>TaSeal</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaSealError
            label="Emergencial"
          />
        </v-col>

        <v-col>
          <TaSealWarning
            label="Aguardando"
          />
        </v-col>
        <v-col>
          <TaSealSuccess
            label="Concluído"
          />
        </v-col>
        <v-col>
          <TaSealPrimary
            label="Serviço"
          />
        </v-col>
        <v-col>
          <TaSealUnavailable
            label="Indisponível"
          />
        </v-col>
        <v-col>
          <TaSealInfo
            label="18"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaSealPage',

  components: {
    TaSealError: () => import('@/components/taSeal/TaSealError.vue'),
    TaSealWarning: () => import('@/components/taSeal/TaSealWarning.vue'),
    TaSealSuccess: () => import('@/components/taSeal/TaSealSuccess.vue'),
    TaSealPrimary: () => import('@/components/taSeal/TaSealPrimary.vue'),
    TaSealUnavailable: () => import('@/components/taSeal/TaSealUnavailable.vue'),
    TaSealInfo: () => import('@/components/taSeal/TaSealInfo.vue'),
  },
};
</script>

<style lang="scss" scoped>
</style>
