<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaSliders</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12">
          <TaSlider
            v-model="primarySlider"
            @input="changeValue($event)"
          />
        </v-col>
        <v-col cols="12">
          <TaSliderRange
            v-model="sliderRange"
            @input="changeValue($event)"
          />
        </v-col>
        <v-col cols="12">
          <TaSlider
            v-model="disabledSlider"
            disabled
          />
        </v-col>
        <v-col cols="12">
          <TaSlider
            v-model="iconSlider"
            prepend-icon="mdi-volume-high"
            @input="changeValue($event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaSlidersPage',

  components: {
    TaSlider: () => import('@/components/taSliders/TaSlider.vue'),
    TaSliderRange: () => import('@/components/taSliders/TaSliderRange.vue'),
  },

  data() {
    return {
      primarySlider: 25,
      disabledSlider: 35,
      iconSlider: 45,
      sliderRange: [20, 40],
    };
  },

  methods: {
    changeValue($event) {
      console.log($event);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
