<template>
  <div>
    <TaSnackbar
      :model="model"
      :timeout="5000"
      :bgColor="'#0096D3'"
      :fontColor="'#ffffff'"
      :text="'Teste de Notificação'"
      :type="null"
      @close-snackbar="model = false"
    />

    <v-row class="mt-5">
      <v-col>
        <v-btn
          @click="model = true"
          color="#0096D3"
          class="color"
        >
          Abrir Snackbar
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'TaSnackbarPage',

  components: {
    TaSnackbar: () => import('@/components/taSnackbar/TaSnackbar.vue'),
  },

  data() {
    return {
      model: false,
    };
  },

  created() {
    this.model = true;
    setTimeout(() => {
      this.model = false;
    }, 1500);
  },
};
</script>

<style lang="scss" scoped>
.color {
  color: #ffffff;
}
</style>
