<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaSteper</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <TaSteps
            :items="items"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaStepsPage',

  components: {
    TaSteps: () => import('@/components/taSteps/TaSteps.vue'),
  },

  data() {
    return {
      items: [
        {
          label: 'Em rota',
          step: 1,
          concluded: true,
          active: false,
        },
        {
          label: 'Chegada',
          step: 2,
          concluded: true,
          active: false,
        },
        {
          label: 'Serviço',
          step: 3,
          concluded: false,
          active: true,
        },
        {
          label: 'Finalização',
          step: 4,
          concluded: false,
          active: false,
        },
      ],
    };
  },
};
</script>
