<template>
  <div class="pa-5">
    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaSwitch</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaSwitch
            v-model="primarySwitch"
            label="Switch"
            @click="changeSwitch('primarySwitch')"
            :input-value="primarySwitch"
          />
        </v-col>

        <v-col>
          <TaSwitch
            v-model="secundarySwitch"
            label="Switch"
            @click="changeSwitch('secundarySwitch')"
            :input-value="secundarySwitch"
          />
        </v-col>

        <v-col>
          <TaSwitch
            v-model="primarySwitchDisabled"
            label="Switch"
            disabled
            @click="primarySwitchDisabled = !primarySwitchDisabled"
            :input-value="primarySwitchDisabled"
          />
        </v-col>

        <v-col>
          <TaSwitch
            v-model="secundarySwitchDisabled"
            label="Switch"
            disabled
            @click="secundarySwitchDisabled = !secundarySwitchDisabled"
            :input-value="secundarySwitchDisabled"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaSwitchPage',

  components: {
    TaSwitch: () => import('@/components/taSwitchs/taSwitch/TaSwitch.vue'),
  },

  data() {
    return {
      primarySwitch: false,
      secundarySwitch: true,
      primarySwitchDisabled: false,
      secundarySwitchDisabled: true,
      taSwitchBarSecundary: true,
      taSwitchBarPrimary: false,
    };
  },

  methods: {
    changeSwitch($event) {
      this[$event] = !this[$event];
      console.log(this[$event]);
    },
  },
};
</script>
