<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaTables</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaCustomDataTable
            :headers="headers"
            :items="items"
            :loading="loadingTable"
            :buttonsContent="buttonsContent"
            :pagination="pagination"
            :rangePicker="true"
            @change-table="changeTable($event)"
            @download-consolidada="sheetConsolidated()"
            @download-master="sheetMaster()"
            @download-change="downloadChange($event)"
            @button-range-change="buttonRangeChange($event)"
            @generate-master="generateMaster()"
            @detail-change="detailChange($event)"
            @date-select="onDateSelect($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaPaginationPrimary
            v-model="paginationPrimary.page"
            :length="paginationPrimary.totalPages"
            :total-visible="paginationPrimary.visible"
            @input="changePagination($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaPaginationSecundary
            v-model="paginationSecundary.page"
            :length="paginationSecundary.totalPages"
            :total-visible="paginationSecundary.visible"
            @input="changePagination($event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid';

export default {
  name: 'taCustomDataTablePage',

  components: {
    TaCustomDataTable: () => import('@/components/taTables/taTable/TaCustomDataTable.vue'),
    TaPaginationPrimary: () => import('@/components/taTables/taPagination/TaPaginationPrimary.vue'),
    TaPaginationSecundary: () => import('@/components/taTables/taPagination/TaPaginationSecundary.vue'),
  },

  data() {
    return {
      headers: [
        {
          text: 'Título 1',
          align: 'start',
          value: 'title1',
          type: null,
          key: 0,
        },
        {
          text: 'Título 2',
          align: 'start',
          value: 'phone',
          type: null,
          key: 1,
        },
        {
          text: 'Título 3',
          align: 'start',
          value: 'date',
          type: null,
          key: 2,
        },
        {
          text: 'Título 4',
          align: 'start',
          value: 'dateHour',
          type: null,
          key: 3,
        },
        {
          text: 'Título 5',
          align: 'start',
          value: 'zipCode',
          type: null,
          key: 4,
        },

        {
          text: 'Título 6',
          align: 'start',
          value: 'currency',
          type: null,
          key: 5,
        },

        {
          text: '',
          align: 'start',
          value: 'actions',
          type: 'download',
          key: 6,
          sortable: false,
        },
      ],
      items: [
        {
          title1: 'Texto 1',
          phone: '11999999998',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 34.00,
          actions: [
            {
              type: 'button-range',
              value: false,
              trigger: 'button-range-change',
              label: 'Definir Período',
              model: null,
              active: false,
              disabled: false,
            },
          ],
        },
        {
          title1: 'Texto 2',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: true,
            },
          ],
        },
        {
          title1: 'Texto 3',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: true,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 4',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'button-range',
              value: false,
              trigger: 'button-range-change',
              label: '01/02 - 25/02',
              model: null,
              active: true,
              disabled: false,
            },
          ],
        },
        {
          title1: 'Texto 5',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'button-range',
              value: false,
              trigger: 'button-range-change',
              label: '01/02 - 25/02',
              model: null,
              active: true,
              disabled: true,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'detail',
              trigger: 'detail-change',
            },
            {
              type: 'button-range',
              value: false,
              trigger: 'button-range-change',
              label: '01/02 - 25/02',
              model: null,
              active: true,
              disabled: true,
            },
          ],
        },
        {
          title1: 'Texto 2',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'upload',
              value: false,
              trigger: 'upload-change',
              disabled: false,
              active: true,
            },
          ],
        },
        {
          title1: 'Texto 3',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'upload',
              value: false,
              trigger: 'upload-change',
              disabled: true,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
        {
          title1: 'Texto 6',
          phone: '11999999999',
          date: new Date(),
          id: uuidv4(),
          range: [],
          dateHour: new Date(),
          zipCode: '06340650',
          currency: 35.00,
          actions: [
            {
              type: 'download',
              value: false,
              trigger: 'download-change',
              disabled: false,
              active: false,
            },
          ],
        },
      ],
      pagination: {
        itemsPerPage: 10,
        page: 1,
        totalPages: 2,
        totalItems: 20,
        show: true,
        itensPerPage: 'Linhas por página',
      },
      loadingTable: false,
      buttonsContent: [
        {
          label: 'PLANILHA CONSOLIDADA',
          trigger: 'download-consolidada',
          disabled: false,
          type: 'TaBtnDownloadSecondarySmall',
        },
        {
          label: 'PLANILHA MASTER',
          trigger: 'download-master',
          type: 'TaBtnRefreshOutlinedSmall',
          disabled: false,
        },
        {
          label: 'GERAR PLANILHA MASTER',
          trigger: 'generate-master',
          type: 'TaBtnSecondarySmall',
          disabled: false,
        },
        {
          label: 'GERAR PLANILHA MASTER',
          trigger: 'generate-master',
          type: 'TaBtnOutlinedSmall',
          disabled: true,
        },
      ],
      paginationPrimary: {
        page: 1,
        totalPages: 16,
        visible: 10,
      },

      paginationSecundary: {
        page: 2,
        totalPages: 16,
        visible: 10,
      },
    };
  },

  methods: {
    changeTable($event) {
      console.log($event);
    },

    sheetConsolidated() {
      console.log('consolidated spreadsheet');
    },

    sheetMaster() {
      console.log('master spreadsheet');
    },

    downloadChange($event) {
      console.log($event);
    },

    changePagination($event) {
      console.log($event);
    },

    buttonRangeChange($event) {
      console.log($event);
    },

    generateMaster() {
      console.log('genearte master');
    },

    detailChange($event) {
      console.log($event);
    },

    onDateSelect($event) {
      const newItems = this.items.map((item) => {
        const newItem = item;
        if (item.id === $event.item.id) {
          newItem.range = $event.date;
          newItem.actions = [
            {
              type: 'button-range',
              value: false,
              trigger: 'button-range-change',
              label: `${$event.date[0]} - ${$event.date[1]}`,
              model: null,
              active: true,
              disabled: true,
            },
          ];
        }
        return newItem;
      });

      this.items = [...newItems];
    },
  },
};
</script>
