<template>
  <div class="pa-5">
    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaTabs</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <TaTabsPrimary
            :items="items"
            @change-tab="changeTab($event)"
          />
        </v-col>
        <v-col>
          <TaTabsSecundary
            :items="items"
            @change-tab="changeTab($event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaTabsPage',

  components: {
    TaTabsPrimary: () => import('@/components/taTabs/TaTabsPrimary.vue'),
    TaTabsSecundary: () => import('@/components/taTabs/TaTabsSecundary.vue'),
  },

  data() {
    return {
      items: [
        {
          label: 'TAB',
          id: 0,
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        },
        {
          label: 'TAB',
          id: 1,
          text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
        },
        {
          label: 'TAB',
          id: 2,
          text: 'Lorem ipsum dolor sit amet',
        },
      ],
    };
  },

  methods: {
    changeTab($event) {
      console.log($event);
    },
  },
};
</script>
