<template>
  <div class="pa-5">
    <v-card class="pa-5">
       <v-row>
        <v-col>
          <h3>TaInputs</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <TaTextField
            v-model="name"
            label="Nome Completo"
            required
            :rules="rules.required"
            :input="onInputValue(name)"
          />
        </v-col>
        <v-col cols="12" md="4">
          <TaTextFieldPersonalDoc
            v-model="personalDoc"
            label="CPF"
            required
            :input="onInputValue(personalDoc)"
            :rules="rules.rulesCpf"
          />
        </v-col>
        <v-col cols="12" md="4">
          <TaTextFieldCompanyDoc
            v-model="companyDoc"
            label="CNPJ"
            required
            :input="onInputValue(companyDoc)"
            :rules="rules.cnpjRule"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <TaTextFieldZipCode
            v-model="zipCode"
            label="CEP"
            required
            :input="onInputValue(zipCode)"
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" md="4">
          <TatextFieldCurrency
            v-model="currency"
            label="Valor"
            required
            :input="onInputValue(currency)"
            :rules="rules.required"
          />
        </v-col>
        <v-col cols="12" md="4">
          <TaTextField
            label="Disabled"
            required
            disabled
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
import IsCompanyDoc from '@/utils/validation-companyDoc';
import IsPersonalDoc from '@/utils/validation-doc';

export default {
  name: 'TaTextFieldPage',

  components: {
    TaTextField: () => import('@/components/taTextField/TaTextField.vue'),
    TaTextFieldPersonalDoc: () => import('@/components/taTextField/TaTextFieldPersonalDoc.vue'),
    TatextFieldCurrency: () => import('@/components/taTextField/TatextFieldCurrency.vue'),
    TaTextFieldCompanyDoc: () => import('@/components/taTextField/TaTextFieldCompanyDoc.vue'),
    TaTextFieldZipCode: () => import('@/components/taTextField/TaTextFieldZipCode.vue'),
  },

  data() {
    return {
      name: null,
      currency: null,
      personalDoc: null,
      companyDoc: null,
      zipCode: null,
      rules: {
        required: [(v) => !!v || 'Esse campo é obrigatório'],
        cnpjRule: [
          (v) => !!v || 'Esse campo é obrigatório',
          (v) => IsCompanyDoc.companyDoc(v) || 'CNPJ inválido.',
        ],
        rulesCpf: [
          (v) => !!v || 'Esse campo é obrigatório',
          (v) => IsPersonalDoc.personalDoc(v) || 'CPF inválido.',
        ],
      },
    };
  },

  methods: {
    onInputValue(item) {
      console.log(item);
    },
  },
};
</script>
