<template>
  <div class="pa-5">
    <v-card class="pa-5 mb-5">
      <v-row>
        <v-col>
          <h3>TaValueControl</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <p>Default</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Editable</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :editable="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :percentage="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Limited</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :editable="true"
            :limitValue="2"
            :haveLimit="{have: true, value: 2}"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <p>Currency</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :editable="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
        <v-col>
          <p>Percentage and Editable</p>
          <TaValueControl
            :counter="counter"
            :editable="true"
            :colorIcon="'#2E4055'"
            :percentage="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage and Have limit</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :percentage="true"
            :limitValue="2"
            :haveLimit="{have: true, value: 2}"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage and Editable and Have limit</p>
          <TaValueControl
            :counter="counter"
            :editable="true"
            :colorIcon="'#2E4055'"
            :percentage="true"
            :limitValue="2"
            :haveLimit="{have: true, value: 2}"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <p>Currency no Editable</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :editable="false"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Disabled</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :disabled="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage Decimal</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :percentage="true"
            :editable="true"
            :decimal="true"
            :item="{
              id: 996,
            }"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Currency Decimal</p>
          <TaValueControl
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :editable="true"
            :decimal="true"
            :item="{
              id: 9969,
            }"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5">
      <v-row>
        <v-col>
          <h3>TaValueControlOutlined</h3>
          <v-divider></v-divider>
        </v-col>
      </v-row>

       <v-row>
        <v-col>
          <p>Default</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Editable</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :editable="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :percentage="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Limited</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :editable="true"
            :limitValue="2"
            :haveLimit="{have: true, value: 2}"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <p>Currency</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :editable="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
        <v-col>
          <p>Percentage and Editable</p>
          <TaValueControlOutlined
            :counter="counter"
            :editable="true"
            :colorIcon="'#2E4055'"
            :percentage="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage and Have limit</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :percentage="true"
            :limitValue="2"
            :haveLimit="{have: true, value: 2}"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage and Editable and Have limit</p>
          <TaValueControlOutlined
            :counter="counter"
            :editable="true"
            :colorIcon="'#2E4055'"
            :percentage="true"
            :limitValue="2"
            :haveLimit="{have: true, value: 2}"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <p>Currency no Editable</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :editable="false"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Disabled</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :disabled="true"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Percentage Decimal</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :percentage="true"
            :editable="true"
            :decimal="true"
            :item="{
              id: 996,
            }"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>

        <v-col>
          <p>Currency Decimal</p>
          <TaValueControlOutlined
            :counter="counter"
            :colorIcon="'#2E4055'"
            :currency="true"
            :editable="true"
            :decimal="true"
            :item="{
              id: 9969,
            }"
            @change-input-value="changeInput($event)"
            @item="onEmitItem($event)"
          />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'ValueControlPage',

  components: {
    TaValueControl: () => import('@/components/taValueControl/TaValueControl.vue'),
    TaValueControlOutlined: () => import('@/components/taValueControl/TaValueControlOutlined.vue'),
  },

  data() {
    return {
      counter: 0,
    };
  },

  methods: {
    changeInput($event) {
      console.log($event);
    },

    onEmitItem($event) {
      console.log($event);
    },
  },
};
</script>
