<template>
  <div class="ta-range-slider__wrapper">
    <v-range-slider
      v-bind="$attrs"
      v-on="$listeners"
    ></v-range-slider>
  </div>
</template>

<script>
export default {
  name: 'TaSliderRange',
};

</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-range-slider__wrapper {
  ::v-deep .taSliderRange {
    .v-slider__track-background {
      opacity: 0.3;
      border-radius: 0 4px 4px 0;
    }

    .v-slider__track-fill {
      border-radius: 4px 0 0 4px;
    }

    @include custom-slider();
  }
}
</style>
