<template>
  <div class="ta-slider__wrapper">
    <v-slider
      v-bind="$attrs"
      v-bind:value="value"
      v-on="$listeners"
      color="primary"
      class="taSlider"
    ></v-slider>
  </div>
</template>

<script>
export default {
  name: 'TaSlider',

  props: {
    value: {
      type: Number,
      default: () => 0,
    },
  },
};

</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-slider__wrapper {
  ::v-deep .taSlider {
    .v-slider__track-background {
      opacity: 0.3;
      border-radius: 0 4px 4px 0;
    }

    .v-slider__track-fill {
      border-radius: 4px 0 0 4px;
    }

    @include custom-slider();
  }
}
</style>
