<template>
  <div class="ta-alertPrimary__wrapper">
    <transition
      name="fade"
    >
      <v-alert
        color="blue"
        icon="mdi-alert-circle-outline"
        type="info"
        v-if="controlShow"
      >
        {{ label }}
      </v-alert>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'TaAlertPrimaryInfo',

  props: {
    label: {
      type: String,
      default: () => '',
    },

    controlShow: {
      default: false,
      required: true,
      type: Boolean,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

.ta-alertPrimary__wrapper {
  .v-alert {
    &.theme--dark {
      background-color: $blue !important;
    }
  }

  @include custon-alert();
}
</style>
