<template>
  <div class="ta-add-primary-wrapper">
    <TaBtnFabThird />
    <span
      class="ml-4"
      :style="{color: $vuetify.theme.themes[theme].primary}"
    >
      {{ label }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'TaAddPrimaryLabeled',

  components: {
    TaBtnFabThird: () => import('@/components/taButtons/taBtnFab/icon/TaBtnFabThird.vue'),
  },

  computed: {
    theme() {
      return (this.$vuetify.theme.dark) ? 'dark' : 'light';
    },
  },

  props: {
    label: {
      type: String,
      default: () => 'Adicionar',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

.ta-add-primary-wrapper {
  @include add-custom();
  cursor: pointer;
}
</style>
