<template>
  <div class="ta-add-success-wrapper">
    <TaBtnFabSuccess />
    <span
      class="ml-4"
      style="color: #35A97F"
    >
      {{ label }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'TaAddSuccessTaAddPrimaryLabeled',

  components: {
    TaBtnFabSuccess: () => import('@/components/taButtons/taBtnFab/icon/TaBtnFabSuccess.vue'),
  },

  props: {
    label: {
      type: String,
      default: () => 'Adicionar',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

.ta-add-success-wrapper {
    @include add-custom();
    cursor: pointer;
}
</style>
