<template>
  <div class="ta-chipSecundary-outlined__wrapper">
    <v-chip
      v-bind="$attrs"
      v-on="$listeners"
      color="blue"
      outlined
    >
      {{ label }}
    </v-chip>
  </div>
</template>

<script>
export default {
  name: 'TaChipSecondaryOutlined',

  props: {
    label: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-chipSecundary-outlined__wrapper {
  @include chip-custom(
    $color-icon: #5EBED4,
    $opacity-icon: 0.7,
    $font-color: $white,
  );
}

</style>
