<template>
  <div class="ta-chipSecundary__wrapper">
    <v-chip
      v-bind="$attrs"
      v-on="$listeners"
      color="blue"
    >
      {{ label }}
    </v-chip>
  </div>
</template>

<script>
export default {
  name: 'TaChipSecondary',

  props: {
    label: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-chipSecundary__wrapper {
  @include chip-custom(
    $color-icon: $white,
    $opacity-icon: 0.7,
    $font-color: $white,
  );
  .v-chip {
    &.theme--dark {
      color: $darkBlue;

      ::v-deep .v-icon.v-icon::before {
        color: #2A2F41;
        opacity: 0.8;
      }
    }
  }
}
</style>
