<template>
  <div class="ta-chip__wrapper">
    <v-chip
      v-bind="$attrs"
      v-on="$listeners"
    >
      {{ label }}
    </v-chip>
  </div>
</template>

<script>
export default {
  name: 'TaChip',

  props: {
    label: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';
.ta-chip__wrapper {
  @include chip-custom();

  .v-chip {
    background: $lightGray;

    &.v-chip:not(.v-chip--active) {
      background-color: $lightGray;
      color: $black;
    }
  }
}
</style>
