<template>
  <div class="ta-chipOutlined__wrapper">
    <v-chip
      v-bind="$attrs"
      v-on="$listeners"
      outlined
    >
      {{ label }}
    </v-chip>
  </div>
</template>

<script>
export default {
  name: 'TaChipOutlined',

  props: {
    label: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-chipOutlined__wrapper {
  @include chip-custom(
    $opacity-icon: 0.4,
  );

  .v-chip {
    &.theme--dark {
      border-color: $white;
      @include font-format(
        $color: $white,
      );

      ::v-deep .v-icon.v-icon::before {
        color: #D9D8D9;
        opacity: 0.7;
      }
    }
  }
}
</style>
