<template>
  <v-card
    class="ta-listInfo__wrapper rounded"
    tile
  >
    <v-list class="pa-0">
      <v-list-item-group>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>

          <v-list-item-content>
            <v-list-item-subtitle
              v-if="item.title === 'Telefone'"
            >
              {{ formatCellPhone(item.text) }}
            </v-list-item-subtitle>

            <v-list-item-subtitle
              v-else
              v-text="item.text"
            ></v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon
            class="d-flex align-center justify-center"
            @click="$emit('edit-item', item)"
          >
            <v-icon size="16" v-text="item.icon"></v-icon>
          </v-list-item-icon>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<script>
import { formatCellPhone } from '@/utils/format.utils';

export default {
  name: 'TaListInfo',

  data() {
    return {
      formatCellPhone,
    };
  },

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';
.ta-listInfo__wrapper {
  .v-list {
    .v-item-group {
      .v-list-item {
        border-top: 1px solid $lightGray;
        cursor: default;

        &:first-child {
          border: none;
        }

        .v-list-item__content {
          .v-list-item__title {
            @include font-format(
              $size: 14px,
              $line-height: 17px,
              $weight: 400,
            );
          }

          .v-list-item__subtitle {
            @include font-format(
              $size: 14px,
              $line-height: 17px,
              $weight: 400,
              $color: $gray2,
            );
          }
        }

        .v-list-item__icon {
          width: 22.45px;
          height: 22.45px;
          border: 1px solid #D9D8D9;
          border-radius: 4px;
          cursor: pointer;

          .v-icon {
            color: $gray;
          }
        }
      }
    }
  }

  &.theme--dark {
    .v-list {
      background: $darkBlue;
      .v-item-group {
        .v-list-item {
          .v-list-item__content {
            .v-list-item__title {
              color: $white;
            }

            .v-list-item__subtitle {
              color: $lightBlue;
            }
          }

          .v-list-item__icon {
            border: 1px solid $lightBlue;

            .v-icon {
              color: $lightBlue;
            }
          }
        }
      }
    }
  }
}

</style>
