<template>
  <div class="ta-cardOptionGroup">
    <v-card
      class="px-2 py-0"
    >
      <v-row no-gutters class="d-flex flex-column">
        <v-col class="px-2 py-4">
          <div>
            <p class="ta-cardOptionGroup__title">
              {{ title }}
            </p>
          </div>
          <div
            class="mt-4"
          >
            <TaBtnGroupRounded
              v-bind="$attrs"
              v-on="$listeners"
            />
          </div>
        </v-col>
      </v-row>

    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCardOptionGroup',

  components: {
    TaBtnGroupRounded: () => import('@/components/taButtons/taBtnGroup/TaBtnGroupRounded.vue'),
  },

  props: {
    title: {
      type: String,
      default: () => '',
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-cardOptionGroup {
  .v-card {
    @include card-custom();
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.18);

    .ta-cardOptionGroup__title {
      @include font-format(
        $size: 14px,
        $line-height: 20px,
        $weight: 600,
        $color: #5F5C60,
      );
    }

    ::v-deep .ta-btn-group-rounded {
      .taBtnGroupRounded {
        height: 28px;
        min-width: 100px;
      }
    }

    &.theme--dark {
      .ta-cardOptionGroup__title {
        color: $white;
      }
    }
  }
}
</style>
