<template>
  <div class="ta-cardOption__wrapper">
    <v-card
      v-for="( item, i ) in items"
      :key="i"
      elevation="0"
      class="d-flex align-center pa-5 mb-4"
      @click="$emit('selectItem', item)"
    >
      <v-img
        v-if="item.image"
        max-width="26"
        :src="require(`@/assets/imgs/${returnImg(item.image)}`)"
      ></v-img>

      <v-icon
        v-else
        size="26"
        color="gray2"
      >
        {{ item.icon }}
      </v-icon>

      <div class="ta-cardOption__label ml-5">
        <span>{{ item.label }}</span>
      </div>
    </v-card>
  </div>
</template>

<script>
export default {
  name: 'TaCardOption',

  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },

  methods: {
    returnImg(item) {
      return item;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-cardOption__wrapper {
  .v-card {
    width: 100%;
    .ta-cardOption__label {
      @include font-format(
        $weight: 600,
        $color: $gray
      );
      letter-spacing: -0.01em;
    }

    &.theme--dark {
      background-color: $darkBlue;

      .ta-cardOption__label {
        color: $lightGray;
      }
    }
  }
}
</style>
