<template>
  <v-snackbar
    v-model="model"
    :timeout="timeout"
    :color="bgColor"
  >
    <p
      :style="`color: ${fontColor}`"
      class="mb-0"
    >{{ text }}
    </p>

    <template v-slot:action="{ attrs }">
      <v-btn
        color="#ffffff"
        text
        v-bind="attrs"
        @click="$emit('close-snackbar')"
        icon
      >
        <v-icon>
          mdi-close
        </v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  name: 'TaSnackbar',

  props: {
    model: {
      default: false,
      required: true,
      type: Boolean,
    },
    timeout: {
      default: 1500,
      required: true,
      type: Number,
    },
    bgColor: {
      default: '#ffffff',
      required: true,
      type: String,
    },
    fontColor: {
      default: '#ffffff',
      required: true,
      type: String,
    },
    text: {
      default: '',
      required: true,
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
