<template >
  <v-btn
    class="ta-btn__secondary"
    fab
    color="rgba(0, 150, 211, 0.1)"
    height="42"
    width="42"
    elevation="0"
  >
    <v-icon
      color="primary"
    >
      mdi-plus
    </v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnFabSecondary',

};

</script>

<style lang="scss" scoped>
@import '../../../../assets/scss/_global.scss';

</style>
