<template>
  <v-btn
    class="ta-btn__primary"
    fab
    color="primary"
    height="42"
    width="42"
    elevation="0"
  >
    <v-icon>
      mdi-plus
    </v-icon>
  </v-btn>
</template>

<script>
export default {
  name: 'TaBtnFabPrimary',
};
</script>

<style lang="scss" scoped>

</style>
