<template>
  <div class="breadcrumb__wrapper pt-3 pb-3">
    <v-breadcrumbs :items="items" class="pl-0">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
  </div>
</template>

<script>
export default {
  name: 'TaBreadcrumb',

  props: {
    items: {
      type: Array,
      required: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.breadcrumb__wrapper {
  ::v-deep.v-breadcrumbs {
    li {
      a {
        &.v-breadcrumbs__item {
          @include font-format(
            $color: $black,
            $weight: 400,
            $size: 14px,
          );
        }
      }

      &.v-breadcrumbs__divider {
        i {
          font-size: 25px;
          color: $gray2;
        }
      }

      &:first-child {
        text-decoration: underline;
      }
    }
  }
}
</style>
