<template>
  <div>
    <v-dialog
      ref="dialog"
      v-model="dialogLocale"
      :return-value.sync="date"
      persistent
      width="290px"
      class="taDatepicker__wrapper"
    >
      <v-date-picker
        v-model="date"
        :first-day-of-week="firstDay ? firstDay : 0"
        :allowedDates="weekOnlyProps ? weekOnly : null"
        :min="nowDateProps ? nowDate : null"
        :disabled="disabled"
        :readonly="readonly"
        scrollable
        :locale="locale"
        range
      >
        <v-spacer></v-spacer>
        <v-btn
          text
          color="#00527D"
          @click="$emit('cancelPicker')"
        >
          CANCELAR
        </v-btn>
        <v-btn
          text
          color="#00527D"
          :disabled="date.length < 2"
          @click="onChangeDate()"
        >
          OK
        </v-btn>
      </v-date-picker>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import { parserDateOrder } from '@/utils/format.utils';

export default {
  name: 'TaDatepickers',

  data() {
    return {
      date: [],
      moment,
      parserDateOrder,
      weekOnly: (val) => ![6, 5].includes(new Date(val).getDay()),
      nowDate: new Date().toISOString().slice(0, 10),
      controlShowDatepicker: true,
      dialogLocale: this.dialog,
    };
  },

  props: {
    dialog: {
      require: true,
      type: Boolean,
      default: false,
    },

    valueDate: {
      require: true,
      type: String,
      default: () => '',
    },

    firstDay: {
      require: true,
      type: Number,
      default: () => 0,
    },

    weekOnlyProps: {
      require: true,
      type: Boolean,
      default: false,
    },

    nowDateProps: {
      require: true,
      type: Boolean,
      default: false,
    },

    disabled: {
      require: true,
      type: Boolean,
      default: false,
    },

    readonly: {
      require: true,
      type: Boolean,
      default: false,
    },

    locale: {
      require: true,
      type: String,
      default: () => 'pt-BR',
    },

    formatDate: {
      require: true,
      type: String,
      default: () => 'DD/MM/YYYY',
    },
  },

  created() {
    this.date.push(this.valueDate);
  },

  methods: {
    formatedDate() {
      return this.format();
    },

    onChangeDate() {
      this.menu = false;
      this.onInputDate();
    },

    onInputDate() {
      if (this.locale === 'pt-BR') {
        this.date = this.parserDateOrder(this.date[0], this.date[1], true);
      } else {
        this.date = this.parserDateOrder(this.date[0], this.date[1]);
      }
      this.$emit('onChangeDate', this.date);
    },

    format() {
      if (this.date) {
        return moment(this.date).format(this.formatDate);
      }
      return null;
    },

    checkDisabled() {
      /* eslint-disable */
      const weekOnly = this.weekOnlyProps;
      const nowDate = this.nowDateProps;
      const disabled = this.disabled;
      return (weekOnly || nowDate) || disabled;
      /* eslint-enabled */
    },
  },

  watch: {
    date() {
      this.formatedDate = this.format();
      this.$emit('frmat', this.date);
    },

    dialog(value) {
      this.dialogLocale = value;
    }
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.v-dialog__content {
  ::v-deep.v-dialog {
    .v-picker {
      .v-picker__title {
        .v-date-picker-title {
          .v-picker__title__btn {
            &.v-date-picker-title__date {
              font-size: 24px;
              font-weight: 600;
              line-height: 20px;
            }
          }
        }
      }

      table {
        thead {
          tr {
            th {
              @include font-format($size:16px, $color: #748C94);
            }
          }
        }
      }

      .v-btn {
        @include font-format($size:16px, $color: $black);

        &::before {
          border-radius: 50%;
        }

        &.accent--text {
          color: #B9D3E2 !important;
          border: none;
        }
        &.v-btn--active {
          color: #1E1C1F !important;
          &::before {
            background: #B9D3E2;
            opacity: 1;
          }
        }
      }

      .v-picker__actions {
        margin-top: -30px;
        .v-btn {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 600;

          &::before {
            border-radius: 4px;
          }
        }
      }
    }
  }  
}
</style>
