<template>
  <div class="ta-pagination__wrapper">
    <v-pagination
      v-bind="$attrs"
      v-on="$listeners"
      elevation="0"
    ></v-pagination>
  </div>
</template>

<script>
export default {
  name: 'TaPaginationPrimary',
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-pagination__wrapper {
  ::v-deep .v-pagination {
    &.theme--dark {
      @include pagination(
        $border: 1px solid $gray2,
        $color: $white,
        $border-more: 1px solid $gray2,
        $color-more: $white,
      );
    }

    @include pagination();
  }
}
</style>
