<template>
  <div class="ta-pagination__wrapper">
    <v-pagination
      v-bind="$attrs"
      v-on="$listeners"
      elevation="0"
    ></v-pagination>
  </div>
</template>

<script>
export default {
  name: 'TaPaginationSecundary',
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-pagination__wrapper {
  ::v-deep .v-pagination {
    &.theme--dark {
      @include pagination(
        $border: 1px solid rgba(94, 190, 212, 0.3),
        $color: $white,
        $background: rgba(0, 150, 211, 0.1),
      );
    }
  }

  ::v-deep .v-pagination {
    @include pagination(
      $border: 1px solid $gray,
      $background: rgba(0, 82, 125, 0.15),
      $colorNavigation: $gray,
      $border-more: none,
      $color-more: transparent,
    );
  }
}
</style>
