<template>
  <router-view />
</template>

<script>

export default {
  name: 'App',
};
</script>

<style lang="scss" scoped>
@import './assets/scss/_global.scss';

@font-face {
  font-family: 'Source_Sans_Pro_ExtraLight';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.eot');
  src:
      url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix')
      format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_Italic';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Italic.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Italic.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Italic.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_ExtraLightItalic';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.eot?#iefix')
    format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_SourceSansPro-Black';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Black.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Black.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Black.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_Bold';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_BoldItalic';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.eot?#iefix')
    format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_BlackItalic';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.eot?#iefix')
    format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_SemiBoldItalic';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.eot?#iefix')
    format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_SemiBold';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.eot?#iefix')
    format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_LightItalic';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-LightItalic.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-LightItalic.eot?#iefix')
    format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-LightItalic.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-LightItalic.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_Regular';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix')
    format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source_Sans_Pro_Light';
  src: url('./assets/fonts/SourceSansPro/SourceSansPro-Light.eot');
  src:
    url('./assets/fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Light.woff2') format('woff2'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff'),
      url('./assets/fonts/SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

</style>
