<template>
  <v-btn-toggle
    v-bind="$attrs"
    mandatory
    class="ta-btn-group--outlined"
  >
    <v-btn
      v-for="(item,key) in items"
      :key="key"
      outlined
      color="primary"
      :disabled="item.disabled"
      elevation="0"
      @click="$emit('item-change', item)"
    >
      {{ item.label }}
    </v-btn>
  </v-btn-toggle>
</template>

<script>
export default {
  name: 'TaBtnGroupOutlined',

  data() {
    return {
      toggle_multiple: [],
    };
  },

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-btn-group--outlined{
  &.v-btn-toggle:not(.v-btn-toggle--group) {
    background-color: transparent;

    .v-btn {
      border-color: rgba(0, 82, 125, 0.5) !important;

      &.v-btn--outlined {
        @include font-format(
          $size: 16px,
          $line-height: 20px,
          $weight: 600,
          $transform: uppercase,
          $color: $white,
        );

        &.v-btn--active {
          color: #00527D;
          &::before {
            background-color: rgba(0, 82, 125, 0.08);
            opacity: 1;
          }
        }
      }
    }

    @media(max-width: 960px) {
      .v-btn {
        &.v-btn--outlined {
          font-size: 14px;
          height: 32px;
        }
      }
    }
  }
}
</style>
