<template>
  <v-btn-toggle
    v-bind="$attrs"
    mandatory
    class="ta-btn-group-rounded"
  >
    <v-btn
      v-for="(item,key) in items"
      :key="key"
      class="taBtnGroupRounded rounded-pill"
      small
      outlined
      color="primary"
      :disabled="item.disabled"
      elevation="0"
      @click="$emit('item-change', item)"
      >
      {{ item.label }}
    </v-btn>
  </v-btn-toggle>
</template>

<script>
export default {
  name: 'TaBtnGroupPrimary',

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-btn-group-rounded{
  &.v-btn-toggle:not(.v-btn-toggle--group) {
    background-color: transparent;

    ::v-deep.v-btn {
      @include font-format(
        $font: 'Source_Sans_Pro_Regular',
        $size: 14px,
        $line-height: 17px,
        $weight: 600,
        $color: $gray,
      );
      border: 0.5px solid $gray;
      margin-right: 8px;
      text-transform: uppercase;
      .v-btn__content {
        color: $gray;
      }

      &.v-btn--active {
        font-weight: 600;
        color: $white;
        border: 1px solid #00527D;

        &::before {
          background-color: $primary;
          opacity: 1;
        }

        .v-btn__content {
          color: $white ;
        }
      }
      :last-child {
        margin-right: 0px;
      }
    }
  }

  &.theme--dark {
    &.v-btn-toggle:not(.v-btn-toggle--group) {
      ::v-deep .v-btn {
        border: 0.5px solid #D9D8D9 !important;
        color: #D9D8D9 !important;

        .v-btn__content {
          color: #D9D8D9;
        }

        &.v-btn--active {
          border: 0.5px solid $blue !important;

          .v-btn__content {
            color: $white;
          }

          &::before {
            background-color: $blue;
          }
        }
      }
    }
  }
}

</style>
