<template>
  <v-btn-toggle
    v-bind="$attrs"
    mandatory
    class="ta-btn-group--primary"
  >
    <v-btn
      v-for="(item,key) in items"
      :key="key"
      class="ta-btn-group"
      color="primary"
      :disabled="item.disabled"
      elevation="0"
      @click="$emit('item-change', item)"
      >
      {{ item.label }}
    </v-btn>
  </v-btn-toggle>
</template>

<script>
export default {
  name: 'TaBtnGroupPrimary',

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-btn-group--primary {
  .v-btn.ta-btn-group {
    @include font-format(
      $size: 16px,
      $line-height: 20px,
      $weight: 600,
      $transform: uppercase,
      $color: $white
    );
    opacity: 1;

    &.v-btn--active {
      &::before {
        background-color: #08405E;
        opacity: 1;
      }
    }

    &.v-btn--disabled{
      color: $gray;
    }
  }
}

@media(max-width: 960px) {
  .ta-btn-group--primary {
    .v-btn.ta-btn-group {
      font-size: 14px;
      line-height: 17px;
      height: 32px !important;
    }
  }
}
</style>
