<template>
  <div
    class="ta-customDataTable__wrapper"
  >
    <v-data-table
      v-bind="$attrs"
      :items="items"
      :headers="headers"
      :page.sync="pagination.page"
      :items-per-page="pagination ? pagination.itemsPerPage : 9999"
      class="elevation-0 ta-custom-data-table rounded-lg"
      hide-default-footer
      loading-text="Carregando..."
      mobile-breakpoint="0"
    >

      <template
        v-for="(k, key) in headers"
        v-slot:[mountString(k)]="{item}"
      >
        <div :key="key" v-if="k.value === 'actions'" class="d-flex align-center">
          <div
            v-for="(x, key) in item.actions"
            :key="key"
          >
            <div
              v-if="x.type === 'download'"
              class="d-flex align-center justify-space-between"
            >
              <component
                :is="!x.active ? 'TaBtnDownloadIconSecondary' : 'TaBtnDownloadIconDelete'"
                :disabled="x.disabled"
                @click.native="$emit(x.trigger, {
                  line: item,
                  column: x,
                })"
              />
            </div>

            <div
              v-if="x.type === 'upload'"
              class="d-flex align-center justify-space-between"
            >
              <component
                :is="!x.active ? 'TaBtnUploadIconSecondary' : 'TaBtnUploadIconDelete'"
                :disabled="x.disabled"
                @click.native="$emit(x.trigger, {
                  line: item,
                  column: x,
                })"
              />
            </div>

            <div
              v-if="x.type === 'detail'"
              class="d-flex align-center justify-space-between"
            >
              <div
                @click="$emit(x.trigger, {
                  line: item,
                  column: x,
                })"
                style="cursor: pointer;"
                class="d-flex align-center justify-center"
              >
                <p class="mb-0">
                  <v-icon
                    class="mr-2"
                  >
                    mdi-eye-outline
                  </v-icon>
                </p>
              </div>
            </div>

            <div
              v-if="x.type === 'button-range'"
              class="d-flex align-center justify-space-between"
            >
              <component
                :is="!x.active ? 'TaBtnSecondarySmall' : 'TaBtnOutlinedSmall'"
                @click.native="[
                  dialog = true,
                  selectItem = item,
                ]"
                :disabled="x.disabled"
                :label="x.label"
              />
            </div>
          </div>
        </div>

        <div :key="key" v-else-if="k.value === 'phone'">
          <p class="mb-0">
            {{ item[k.value] ? formatCellPhone(item[k.value]) : '--' }}
          </p>
        </div>

        <div :key="key" v-else-if="k.value === 'date'">
          <p class="mb-0">
            {{
              item[k.value] ? moment(item[k.value].label).format('DD/MM/YYYY') : '--'
            }}
          </p>
        </div>

        <div :key="key" v-else-if="k.value === 'dateHour'">
          <p class="mb-0">
            {{
              item[k.value] ? moment(item[k.value].label).format('DD/MM/YYYY - HH:mm') : '--'
            }}
          </p>
        </div>

        <div :key="key" v-else-if="k.value === 'zipCode'">
          <p class="mb-0">
            {{
              item[k.value] ? formatZipCode(item[k.value]) : '--'
            }}
          </p>
        </div>

         <div :key="key" v-else-if="k.value === 'currency'">
          <p class="mb-0">
            {{
              item[k.value] ? formatCurrency(item[k.value]) : '--'
            }}
          </p>
        </div>

        <div
          :key="key"
          v-else
        >
          <p class="mb-0" v-html="item[k.value]" />
        </div>
      </template>

      <template v-slot:no-data>
        <div class="pa-3 d-flex justify-center">
          <v-alert :value="true" color="primary" type="error" style="max-width: 320px;">
            Não foram encontrados resultados
          </v-alert>
        </div>
      </template>
    </v-data-table>

    <div
      class="ta-pagination--wrapper text-center d-md-flex justify-end align-center flex-wrap"
      v-if="pagination"
    >
      <div class="d-md-flex mb-3" v-if="pagination.show">
        <div class="d-flex align-center mr-4 justify-end">
          <p class="info-pagination mb-0 mr-2">
            {{ pagination.itensPerPage }}:
          </p>

          <v-select
            outlined
            v-model="pagination.itemsPerPage"
            :items="selectItems"
            type="number"
            style="max-width: 80px; height: 56px"
            class="mt-0"
          ></v-select>
        </div>

        <div class="d-flex align-center justify-end mt-3 mt-md-0">
          <p class="info-pagination mb-0">
            {{ pagination.page }}-{{ pagination.totalPages }}
            de {{ pagination.totalItems }}
          </p>
          <v-pagination
            class="pagination"
            v-model="pagination.page"
            :length="pagination.totalPages"
          ></v-pagination>
        </div>
      </div>

      <div
        v-if="buttonsContent"
        class="mb-3 d-flex align-end flex-column flex-md-row"
      >
        <component
          :is="item.type"
          v-for="(item,key) in buttonsContent"
          :key="key"
          :disabled="item.disabled"
          :label="item.label"
          :class="{ 'mr-mb-3' : buttonsContent.length > 1 || (key + 1) > buttonsContent.length}"
          class="mb-3 mb-md-0"
          @click.native="$emit(item.trigger)"
        ></component>
      </div>

      <TaDatepicker
        v-if="rangePicker"
        :dialog="dialog"
        :valueDate="value"
        :firstDay="0"
        :weekOnlyProps="false"
        :nowDateProps="false"
        :disabled="false"
        :readonly="false"
        :locale="'pt-BR'"
        :range="true"
        :formatDate="'DD/MM/YYYY'"
        @onChangeDate="onChangeDate($event)"
        @cancelPicker="[dialog = false, selectItem = null]"
      />
    </div>
  </div>
</template>

<script>
import moment from 'moment';
import { formatCurrency, formatCellPhone, formatZipCode } from '@/utils/format.utils';

export default {
  name: 'taCustomDataTable',

  components: {
    TaBtnRefreshOutlinedSmall: () => import('@/components/taButtons/taBtnRefresh/taBtnRefreshOutlined/TaBtnRefreshOutlinedSmall.vue'),
    TaDatepicker: () => import('@/components/taDatepicker/TaDatepicker.vue'),
    TaBtnDownloadIconSecondary: () => import('@/components/taButtons/taBtnDownloadIcon/TaBtnDownloadIconSecondary.vue'),
    TaBtnDownloadIconDelete: () => import('@/components/taButtons/taBtnDownloadIcon/TaBtnDownloadIconDelete.vue'),
    TaBtnUploadIconSecondary: () => import('@/components/taButtons/taBtnUploadIcon/TaBtnUploadIconSecondary.vue'),
    TaBtnUploadIconDelete: () => import('@/components/taButtons/taBtnUploadIcon/TaBtnUploadIconDelete.vue'),
    TaBtnSecondarySmall: () => import('@/components/taButtons/taBtn/taBtnSecondary/TaBtnSecondarySmall.vue'),
    TaBtnOutlinedSmall: () => import('@/components/taButtons/taBtn/tabtnOutlined/TaBtnOutlinedSmall.vue'),
    TaBtnDownloadSecondarySmall: () => import('@/components/taButtons/taBtnDownload/taBtnDownloadSecondary/TaBtnDownloadSecondarySmall.vue'),
    TaBtnDownloadOutlinedSmall: () => import('@/components/taButtons/taBtnDownload/tabtnDownloadOutlined/TaBtnDownloadOutlinedSmall.vue'),
  },

  data() {
    return {
      moment,
      formatCurrency,
      formatCellPhone,
      formatZipCode,
      selectItems: [5, 10, 25, 50, 100],
      page: this.pagination ? this.pagination.page : 1,
      dialog: false,
      value:
      (new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10),
      selectItem: null,
    };
  },

  props: {
    headers: {
      type: Array,
      require: true,
      default: () => [],
    },
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
    pagination: {
      type: Object,
      require: true,
      default: () => {},
    },
    buttonsContent: {
      type: Array,
      default: () => [],
    },
    rangePicker: {
      type: Boolean,
      default: false,
    },
  },

  methods: {
    mountString(k) {
      return `item.${k.value}`;
    },

    onChangeDate($event) {
      this.$emit('date-select', {
        item: this.selectItem,
        date: $event,
      });
      this.dialog = false;
    },
  },

  watch: {
    pagination: {
      handler(value) {
        this.$emit('change-table', value);
      },
      deep: true,
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../assets/scss/_global.scss';

.ta-customDataTable__wrapper {
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1), 0px 2px 3px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  .theme--dark.v-data-table {
    background-color: #3B3F4B;
    ::v-deep.v-data-table__wrapper {
      &>table {
        thead {
          tr {
            th {
              background: #3B3F4B;
              color: $white;
            }
          }
        }

          tbody {
            tr {
              background: #2A2F41;

              &:hover {
                background: #3B3F4B !important;
              }
              td {
                color: $white;

                .download-button {
                  background: $blue !important;
                }
              }
            }
          }
      }
    }
  }
  .v-data-table {
    background-color: #F2F2F2;
    ::v-deep.v-data-table__wrapper {
      overflow-y: auto !important;

      &::-webkit-scrollbar {
        height: 5px;
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      &::-webkit-scrollbar-thumb {
        background: #7281A8;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #7281A8;
      }
      &>table {
        border-collapse:separate;
        border-spacing: 0 0.2em;
        thead {
          tr {
            th {
              border-bottom: 0 !important;
              background: #F2F2F2;
              min-width: 150px;
              @include font-format(
                $font: 'Source_Sans_Pro_Regular',
                $size: 16px,
                $line-height: 23px,
                $color: $black,
                $weight: 600,
              );

              &:first-child {
                border-radius: 4px 0 0 0;
              }

              &:last-child {
                border-radius: 0 4px 0 0;
              }
            }
          }
        }

          tbody {
            tr {
              position: relative;
              background: $white;
              &:hover {
                background: #F4F6F8 !important;
              }
              td {
                border-bottom: none !important;
                @include font-format(
                  $size: 16px,
                  $font: 'Source_Sans_Pro_Regular',
                  $line-height: 22px,
                  $color: $black,
                  $weight: 400,
                );
                height: 70px;

                &:last-child {
                  display: flex;
                  justify-content: flex-end;
                  align-items: center;
                }
              }

              &:last-child {
                td {
                  &:last-child {
                    border-radius: 0;
                  }

                  &:first-child {
                    border-radius: 0;
                  }
                }
              }
            }
          }
      }
    }
  }
}

.theme--dark {
  .ta-pagination--wrapper {
    background: #2A2F41;
  }
}

.ta-pagination--wrapper {
  background: $white;
  border-radius: 0 0 4px 4px;
  padding: 17px 24px;

  ::v-deep .v-pagination {
    .v-pagination__item {
      display: none !important;
    }

    .v-pagination__navigation {
      background: transparent !important;
      box-shadow: none;
      width: 15px;
    }

    .v-pagination__more {
      display: none;
    }
  }

  ::v-deep .v-input {
    max-width: 70px;
    .v-input__control {
      .v-input__slot {
         fieldset {
          border: none
        }
      }
    }
  }

  .button-footer {
    @include taBtn();

    &.secundary {
      color: $white;
    }
  }
}

@media(max-width: 960px) {
  .ta-pagination--wrapper {
    padding: 10px;
  }
}
</style>
