<template>
  <div class="ta-checkbox__wrapper">
    <v-checkbox
      v-bind="$attrs"
      v-on="$listeners"
    ></v-checkbox>
  </div>
</template>

<script>
export default {
  name: 'TaCheckboxPrimary',
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';
.ta-checkbox__wrapper {
  &.v-input--is-disabled {
    opacity: 0.4;
  }
}

</style>
