<template>
  <div class="ta-checkbox__wrapper">
    <v-checkbox
      v-bind="$attrs"
      v-on="$listeners"
      indeterminate
    ></v-checkbox>
  </div>
</template>

<script>
export default {
  name: 'TaCheckboxSecundary',
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';
.ta-checkbox__wrapper {
  .v-input {
    &.v-input--indeterminate {
      &.v-input--is-disabled {
        opacity: 0.4;
      }
    }
  }
}

</style>
