<template>
  <div class="ta-steps__wrapper">
    <div
      class="ta-steps__custom d-flex"
    >
      <ul
        class="ta-steps__wrapper-ul d-flex align-center"
      >
        <li
          v-for="(item, key) in items"
          :key="key"
          :class="[
            { 'concluded': item.concluded,
              'active': item.active,
            },
          ]"
        >
          <div
            class="d-flex justify-center align-md-center flex-column flex-md-row"
          >
            <div
              class="ta-step d-flex justify-center mr-2">
              <v-icon
                v-if="item.concluded"
                color="#ffffff"
                size="16"
              >
                mdi-check
              </v-icon>

              <div v-else>
                <div class="d-flex align-center justify-center">
                  <p
                    class="mb-0 d-none d-md-block"
                  >
                    {{ item.step }}
                  </p>

                  <v-icon
                    v-if="item.active"
                    color="#ffffff"
                    size="19"
                    class="d-block d-md-none"
                  >
                    mdi-circle-medium
                  </v-icon>

                  <div
                    v-else
                  >
                  </div>
                </div>
              </div>
            </div>

            <p
              class="ta-step__label mb-0 mt-2 mt-md-0"
            >
              {{ item.label }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TaSteps',

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-steps__custom {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  .ta-steps__wrapper-ul {
    position: relative;
    list-style: none;
    padding: 0;
    width: 100%;

    li {
      min-width: 250px;
      position: relative;

      &::after {
        content: "";
        display: block;
        height: 2px;
        background-color: $lightGray;
        width: 45%;
        bottom: 50%;
        left: -25%;
        position: absolute;
      }

      &:first-child {
        &::after {
          display: none;
        }
        margin-left: -60px;
      }

      &.concluded {
        .ta-step {
          background: $primary;
          border: 1px solid $primary;
        }

        &::after {
          content: "";
          background-color: $primary;
        }
      }

      &.active {
        .ta-step {
          background: $primary;
          border: 1px solid $primary;
        }

        &::after {
          content: "";
          background-color: $primary;
        }
      }

      .ta-step {
        width: 24px;
        height: 24px;
        border: 1px solid rgba(95, 92, 96, 0.6);;
        background: rgba(95, 92, 96, 0.6);;
        border-radius: 50%;

        p {
          @include font-format(
            $size: 15px,
            $line-height: 20px,
            $color: $white,
            $weight: 400,
          );
        }
      }
    }
  }
}

.theme--dark {
  .ta-steps__custom {
    .ta-steps__wrapper-ul {
      li {
        &::after {
          background-color: $gray2;
        }

        &.concluded {
          .ta-step {
            background: $lightBlue;
            border: 1px solid $lightBlue;

            p {
              color: $darkBlue;
            }

            .v-icon {
              color: $darkBlue !important;
            }
          }

          &::after {
            content: "";
            background-color: $lightBlue;
          }

          .ta-step__label {
            color: $white;
          }
        }

        &.active {
          .ta-step {
            background: $lightBlue;
            border: 1px solid $lightBlue;

            p {
              color: $darkBlue;
            }
          }

          &::after {
            content: "";
            background-color: $lightBlue;
          }

          .ta-step__label {
            color: $white;
          }
        }

        .ta-step__label {
          color: $gray2;
        }

        .ta-step {
          border: 1px solid $gray2;
          background: $gray2;
        }
      }
    }
  }
}

@media(max-width: 960px) {
  .ta-steps__custom {
    .ta-steps__wrapper-ul {
      li {
        min-width: 80px;

        &::after {
          content: "";
          display: block;
          height: 2px;
          background-color: $lightGray;
          width: 69%;
          bottom: 73%;
          left: -69%;
          position: absolute;
        }

        &:first-child {
          &::after {
            display: none;
          }
          margin-left: 0px;
        }

        .ta-step__label {
          @include font-format(
            $size: 13px,
            $line-height: 16px,
            $color: $gray,
            $weight: 400,
          );
        }

        &.active {
          .ta-step__label {
            @include font-format(
              $size: 13px,
              $line-height: 16px,
              $color: $primary,
              $weight: 600,
            );
            display: block;
          }
        }
      }
    }
  }

  .theme--dark {
    .ta-steps__custom {
      .ta-steps__wrapper-ul {
        li {
          &.active {
            .ta-step__label {
              color: $lightBlue,
            }
          }

          .ta-step__label {
            color: $lightGray;
          }
        }
      }
    }
  }
}
</style>
