<template>
  <div class="ta-radioButton__wrapper">
    <v-radio-group
      v-bind="$attrs"
      v-on="$listeners"
    >
      <v-radio
        v-for="(item,key) in items"
        :key="key"
        :label="item.label"
        :value="item.value"
        @click="$emit('change-radio', item)"
      ></v-radio>
    </v-radio-group>
  </div>
</template>

<script>
export default {
  name: 'TaRadioButton',

  props: {
    items: {
      type: Array,
      require: true,
      default: () => [],
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../assets/scss/_global.scss';

.ta-radioButton__wrapper {
  @include font-format(
    $size: 16px,
    $line-height: 20PX,
    $weight: 400,
  );
}

</style>
